.page__registrations-after_sign_up
  padding: 70px 0 500px

  .registrations-after_sign_up__title
    @extend %text_center
    font-size: 44px
    line-height: 1
    font-weight: bold

  .registrations-after_sign_up__description
    @extend %block_center
    font-size: 22px
    line-height: 1.7
    width: 640px
    white-space: pre-line
    margin-top: 56px
    max-height: 100%
