.page__registrations-new,
.page__registrations-create
  padding: 40px 0 330px

  .registrations-new__title
    @extend %block_center
    +replace-sprite('registrations__new__title__main')

  .registrations-new__label--serial-code,
  .registrations-new__label--email,
  .registrations-new__label--email-confirmation,
  .registrations-new__label--password,
  .registrations-new__label--password-confirmation
    font-size: 25px
    line-height: 1
    margin-bottom: 10px

  .registrations-new__label--serial-code,
  .registrations-new__label--email,
  .registrations-new__label--email-confirmation,
  .registrations-new__label--password,
  .registrations-new__label--password-confirmation,
  .registrations-new__input--serial-code,
  .registrations-new__input--email,
  .registrations-new__input--email-confirmation,
  .registrations-new__input--password,
  .registrations-new__input--password-confirmation
    @extend %block_center
    width: 645px

  .registrations-new__label--serial-code
    margin-top: 80px

  .registrations-new__label--email
    margin-top: 80px

  .registrations-new__label--email-confirmation
    margin-top: 40px

  .registrations-new__label--password
    margin-top: 80px

  .registrations-new__label--password-confirmation
    margin-top: 40px

  .registrations-new__error
    @extend %error_message

  .registrations-new__input--serial-code,
  .registrations-new__input--email,
  .registrations-new__input--email-confirmation,
  .registrations-new__input--password,
  .registrations-new__input--password-confirmation
    @extend %registrations__input
    margin-top: 10px

  .registrations-new__button--submit
    @extend %registrations__button--submit
    letter-spacing: 36px
    text-indent: 18px
    margin-top: 76px

  .registrations-new__notification
    @extend %error_message
    text-align: left
    margin-top: 50px
    width: 630px
