.page__home-index
  padding-top: 20px
  color: $baseColor
  @extend %text_center

  .home-index__title
    +replace-sprite('home__index__title__main')

  .home-index__current-stamps
    @extend %sheet__wrapper
    @extend %block_center
    margin-top: 27px
    // +replace-image('home/index/home__index__image--finish-stamp-rally.png')

  .home-index__current-stamp
    @extend %sheet__cell

  .home-index__text--description
    line-height: 1.5
    margin-top: 28px
    font-size: 30px
    font-weight: bold
    white-space: pre-line

  .home-index__text--comment
    @extend %block_center
    height: 180px
    position: relative
    margin-top: 46px
    padding: 45px 135px 0px 0px
    background-color: #fff
    white-space: pre-line
    font-size: 27px
    line-height: 1.5
    font-weight: bold

    &:before
      +pos(28px,61px,'','')
      content: ''
      display: block
      +replace-sprite('home__index__character--comment')

  .home-index__links
    height: 236px
    margin: 36px 0 42px

  .home-index__link--how-to-play,
  .home-index__link--map,
  .home-index__link--stamp-collection,
  .home-index__link--lottery,
  .home-index__link--ranking
    background-image: image-url('home/index/home__index__pattern--link-button.png')
    +link_color(#fff)
    display: inline-block
    border: 5px solid
    +border-radius(18px)
    font-size: 28px
    height: 106px
    vertical-align: top
    line-height: 1.2
    white-space: pre-line
    margin: 0 15px
    position: relative
    font-weight: bold

    a
      text-decoration: none
      display: block
      padding: 32px 0
      position: relative

  .home-index__link--how-to-play,
  .home-index__link--map,
  .home-index__link--stamp-collection
    width: 200px

  .home-index__link--lottery,
  .home-index__link--ranking
    width: 314px
    margin-top: 24px

  .home-index__link--stamp-collection,
  .home-index__link--lottery,
  .home-index__link--ranking
    a
      padding: 14px 0

  .home-index__link--how-to-play
    border-color: #fc4545
    background-color: #ff8c80
    
  .home-index__link--map
    border-color: #efb400
    background-color: #fbdf45

    a
      text-indent: 27px

    &:before
      content: ''
      display: block
      +replace-sprite('home__index__bg__button--map')
      +pos('','',1px,0px)
    
  .home-index__link--stamp-collection
    border-color: #1c88ee
    background-color: #7bbfff

  .home-index__link--lottery
    border-color: #2fba0f
    background-color: #94e85c

  .home-index__link--ranking
    border-color: #ff6ed1
    background-color: #ffbcf0

  .home-index__coupons
    background-color: #c9e5ff
    padding: 45px 0 28px

  .coupons__title
    line-height: 1
    font-size: 36px
    font-weight: bold

  .coupons__list
    margin-top: 45px
    @extend %block_center
    width: 590px

  .coupons__item
    margin-top: 28px

  .coupons-item__image
    height: 160px
    +box-shadow(10px 10px 18px 2px rgba(0, 0, 0, 0.4))

    a
      width: 100%
      height: 100%
      display: block

  .coupons-item__count
    font-size: 30px
    font-weight: bold
    text-align: right
    line-height: 1
    margin-top: 10px

  .global__popup--unread-notifications
    @extend %popup_overlay

  .popup--unread-notifications__wrapper
    @extend %popup_wrapper
    border-color: #448aca
    background-color: #a0eaff

  .popup--unread-notifications__title
    @extend %popup_title
    background-color: #d0f5ff

  .popup--unread-notifications__content
    @extend %popup_content
    font-size: 25px
    line-height: 1.5
    text-align: left

  .unerad-notifications__item
    margin-bottom: 20px

  .notifications-item__title
    font-size: 34px

  .notifications-item__date
    font-size: 24px

  .notifications-item__content
    font-size: 32px
    margin-top: 20px

  .popup--unread-notifications__button--close
    @extend %popup_button_close
    border-color: #448aca
