.page__home-ranking
  padding-top: 37px
  color: $baseColor

  .home-ranking__title
    +replace-sprite('home__ranking__title__main')

  .home-ranking__no-data
    @extend %block_center
    @extend %text_center
    padding: 200px 0 500px
    font-size: 30px
    line-height: 1.5
    font-weight: bold
    width: 600px

  .home-ranking__ranking-list
    margin-top: 40px

  .home-ranking__ranking-item
    @extend %block_center
    padding: 72px 50px 50px

    &:nth-child(odd)
      background-color: #c9e5ff

    &:nth-child(even)
      background-color: #e5f3ff

    &.type__season
      .ranking__outer:before
        +replace-sprite('home__ranking__heading--season-ranking')

    &.type__my-season
      .ranking__outer:before
        +replace-sprite('home__ranking__heading--season-my-ranking')

    &.type__season
      .ranking__label--rank,
      .ranking__rank
        width: 76px

      .ranking__rank
        font-size: 27px

      .ranking__label--name,
      .ranking__name
        width: 425px

      .ranking__label--count,
      .ranking__count
        width: 120px        

    &.type__my-season
      .ranking__label--rank,
      .ranking__rank
        width: 106px

      .ranking__rank
        font-size: 18px

      .ranking__label--name,
      .ranking__name
        width: 395px

      .ranking__label--count,
      .ranking__count
        width: 110px

  .ranking__outer
    width: 650px
    height: 345px
    border: 10px solid #ffe168
    position: relative
    +border-radius(20px)

    &:before
      +pos(-46px,'','',-5px)
      content: ''
      display: block

  .ranking__inner
    width: 630px
    height: 325px
    border: 4px solid #cba976
    +border-radius(8px)

  .ranking__duration
    +pos(-36px,0px)
    font-size: 22px
    line-height: 1
    font-weight: bold

  .ranking__labels
    @extend %clearfix
    color: #7b7b7b
    background-color: #fff
    font-size: 16px
    line-height: 1
    height: 42px

    &+ .ranking__user
      &:before
        display: none

  .ranking__label--rank,
  .ranking__label--name,
  .ranking__label--count
    padding: 16px 0 10px
    float: left
    height: 100%
    font-size: 16px

  .ranking__label--rank,
  .ranking__label--name
    border-right: 2px dotted #cfcfcf

  .ranking__label--rank,
  .ranking__label--count,
  .ranking__rank,
  .ranking__count
    @extend %text_center

  .ranking__label--name,
  .ranking__name
    padding-left: 12px

  .ranking__user
    @extend %clearfix
    height: 55px
    width: 622px
    font-weight: bold
    position: relative
    
    &[theme='osomatsu']
      background-color: $WeakColorOsomatsu

    &[theme='karamatsu']
      background-color: $WeakColorKaramatsu

    &[theme='tyoromatsu']
      background-color: $WeakColorTyoromatsu

    &[theme='ichimatsu']
      background-color: $WeakColorIchimatsu

    &[theme='juushimatsh']
      background-color: $WeakColorJuushimatsu

    &[theme='todomatsu']
      background-color: $WeakColorTodomatsu

    &[theme='iyami']
      background-color: $WeakColorIyami

    &:before
      +replace-bg('home/ranking/border__circle.png')
      +pos(-2px,'','',0px)
      background-repeat: repeat-x
      content: ''
      display: block
      width: 622px
      height: 5px

  .ranking__rank,
  .ranking__name,
  .ranking__count
    float: left
    line-height: 55px

  .ranking__rank
    position: relative

    @each $rank in 1 2 3
      &[rank='#{$rank}']
        text-indent: -9999em

        &:before
          content: ''
          display: block
          +replace-sprite('home__ranking__rank--#{$rank}')
          +cntr-abs(image-width(sprite-file($sprite-image, 'home__ranking__rank--#{$rank}')), image-height(sprite-file($sprite-image, 'home__ranking__rank--#{$rank}')))

  .ranking__name
    font-size: 22px

  .ranking__count
    font-size: 27px
