.global__wrapper
  &[theme="osomatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorOsomatsu
      &:nth-child(even)
        background-color: $WeakColorOsomatsu

  &[theme="karamatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorKaramatsu
      &:nth-child(even)
        background-color: $WeakColorKaramatsu

  &[theme="tyoromatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorTyoromatsu
      &:nth-child(even)
        background-color: $WeakColorTyoromatsu

  &[theme="ichimatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorIchimatsu
      &:nth-child(even)
        background-color: $WeakColorIchimatsu

  &[theme="juushimatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorJuushimatsu
      &:nth-child(even)
        background-color: $WeakColorJuushimatsu

  &[theme="todomatsu"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorTodomatsu
      &:nth-child(even)
        background-color: $WeakColorTodomatsu

  &[theme="iyami"]
    .page__home-sheet .collection__item
      &:nth-child(odd)
        background-color: $StrongColorIyami
      &:nth-child(even)
        background-color: $WeakColorIyami

.page__home-sheet
  padding-top: 37px
  color: $baseColor

  .home-sheet__title
    +replace-sprite('home__sheet__title__main')

  .home-sheet__order
    @extend %text_center
    margin-top: 50px

  .order__input--select,
  .order__button--submit
    display: inline-block
    height: 60px
    vertical-align: top

  .order__input--select
    position: relative

    &:before
      content: '▼'
      display: block
      font-size: 16px
      line-height: 1
      +cntr-abs(0,16px)
      right: 25px

    select
      @extend %reset_default_input
      width: 446px
      border: 4px solid $baseColor
      +border-radius(18px)
      padding: 13px 18px
      background-color: #fff
      color: $baseColor
      font-size: 26px
      line-height: 1
      font-weight: bold

  .order__button--submit
    width: 184px
    background-color: #ffb940
    color: #fff
    border: 4px solid #f19149
    +border-radius(13px)
    margin-left: 11px
    font-size: 32px
    line-height: 52px
    font-weight: bold

  .home-sheet__collection
    margin-top: 34px

  .collection__text--not-found
    @extend %text_center
    line-height: 1
    padding: 100px 0 200px
    font-size: 30px
    font-weight: bold

  .collection__item
    padding: 18px 60px

  .collection-item__input--name
    width: 420px
    height: 52px
    position: relative

    &:after
      content: '編集'
      display: block
      color: #9ec1ec
      font-size: 22px
      line-height: 1
      +cntr-abs(0,22px)
      right: 18px

    input
      width: 100%
      height: 100%
      @extend %reset_default_input
      font-size: 24px
      font-weight: bold
      background-color: #fff
      color: $baseColor
      line-height: 1
      padding: 14px 12px
      +border-radius(18px)

  .collection-item__stamp-list
    @extend %sheet__wrapper
    margin-top: 10px

  .collection-item__stamp-item
    @extend %sheet__cell

  .collection-item__information
    @extend %clearfix
    margin-top: 16px
    height: 44px

  .information__completed-at
    padding-left: 6px
    line-height: 44px
    float: left
    font-size: 22px
    font-weight: bold

  .information__share-buttons
    float: right
    text-align: right

  .information__share-button--twitter,
  .information__share-button--facebook,
  .information__share-button--line
    display: inline-block
    margin-left: 26px

  @each $provider in twitter facebook line
    .information__share-button--#{$provider}
      +replace-sprite('home__sheet__button--#{$provider}')

  .home-sheet__popup--tweet
    @extend %tweet_popup
