- set_meta_tags({\
  title: '確認メール再送',\
  description: 'おそ急さんスタンプラリー確認メール再送画面'\
})

h2.confirmations-new__title ユーザー登録確認メール再送
p.confirmations-new__description ユーザー登録確認メールが届かなかった場合、こちらから再送することができます。
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  p.confirmations-new__label メールアドレス
  - resource.errors[:email].each do |error|
    p.confirmations-new__error = "#{t('activerecord.attributes.user.email')}#{error}"
  = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'confirmations-new__input--email'
  = f.submit '確認メール再送', class: 'confirmations-new__button--submit'
