- set_meta_tags({\
  title: '情報入力完了',\
  description: 'おそ急さんスタンプラリーユーザ情報入力完了。'\
})

h2.registrations-after_sign_up__title メールを送信しました
p.registrations-after_sign_up__description
  |
    新規登録の手続きを記載したメールをお客様のメールアドレス宛に送信しました。
    メールを確認して登録の手続きを進めてください
p.registrations-after_sign_up__description
  | メールが届かない場合、お手数ですが設定を確認の上
  = link_to 'こちら', new_user_confirmation_path
  | から再度メール送信の手続きをお願いします
