- set_meta_tags({\
  title: 'メールアドレスで登録',\
  description: 'メールアドレスでおそ急さんスタンプラリーに登録しよう！Twitterでも登録できます。'\
})

h2.registrations-new__title
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.hidden_field :provider, :value => 'email'
  / p.registrations-new__label--serial-code ワンデーオープンチケットシリアルナンバー(8桁)
  / - resource.errors[:serial_code].each do |error|
  /   p.registrations-new__error = "#{t('activerecord.attributes.user.serial_code')}#{error}"
  / = f.text_field :serial_code, autofocus: true, class: 'registrations-new__input--serial-code'
  p.registrations-new__label--email 登録するメールアドレス(確認メールが届きます)
  - resource.errors[:email].each do |error|
    p.registrations-new__error = "#{t('activerecord.attributes.user.email')}#{error}"
  = f.email_field :email, autofocus: true, class: 'registrations-new__input--email'
  p.registrations-new__label--email-confirmation メールアドレス確認入力
  - resource.errors[:email_confirmation].uniq.each do |error|
    p.registrations-new__error = "#{t('activerecord.attributes.user.email')}#{error}"
  = f.email_field :email_confirmation, autofocus: true, class: 'registrations-new__input--email-confirmation'
  p.registrations-new__notification @docomo.ne.jp @softbank.ne.jp @ezweb.ne.jp のメールアドレスをお使いの方は「携帯電話以外からのメール」のブロック解除の設定が必要となりますのでご注意ください。
  p.registrations-new__label--password パスワード(#{@minimum_password_length}文字以上)
  - resource.errors[:password].each do |error|
    p.registrations-new__error = "#{t('activerecord.attributes.user.password')}#{error}"
  = f.password_field :password, autofocus: true, autocomplete: "off", class: 'registrations-new__input--password'
  p.registrations-new__label--password-confirmation パスワード確認入力
  - resource.errors[:password_confirmation].each do |error|
    p.registrations-new__error = "#{t('activerecord.attributes.user.password_confirmation')}#{error}"
  = f.password_field :password_confirmation, autocomplete: "off", class: 'registrations-new__input--password-confirmation'
  = f.submit '送信', class: 'registrations-new__button--submit'
