.page__sessions-new
  padding: 26px 0 70px
  @extend %text_center

  .sessions-new__title
    +replace-sprite('sessions__new__title__main')
    margin-bottom: 43px

  .sessions-new__error
    @extend %error_message

  .sessions-new__input--email,
  .sessions-new__input--password
    @extend %block_center
    display: block
    @extend %reset_default_input
    width: 620px
    height: 80px
    border: 4px solid $baseColor
    +border-radius(26px)
    font-size: 32px
    line-height: 1
    padding: 20px 25px
    background-color: #fff

  .sessions-new__input--email
    margin-top: 64px

  .sessions-new__input--password
    margin-top: 14px

  .sessions-new__link--new-password,
  .sessions-new__link--new-confirmation
    @extend %block_center
    +link-color($baseColor)
    text-align: right
    width: 620px
    margin-top: 14px
    font-size: 23px

  .sessions-new__button--email-login,
  .sessions-new__button--twitter-login,
  .sessions-new__button--twitter-registration,
  .sessions-new__button--email-registration
    @extend %block_center
    +link-color(#fff)
    width: 464px
    height: 77px
    border: 4px solid
    +border-radius(12px)
    +box-shadow(5px 5px 7px -2px rgba(0,0,0,0.7))
    color: #fff
    font-size: 32px

    a
      text-decoration: none
      height: 69px
      width: 456px
      display: block
      line-height: 69px

  .sessions-new__button--email-login,
  .sessions-new__button--email-registration
    background-color: #ffb940
    border-color: #f19149

  .sessions-new__button--twitter-login,
  .sessions-new__button--twitter-registration
    background-color: #4dbeff
    border-color: #2c88ef

  .sessions-new__button--email-login
    @extend %reset_default_input
    margin-top: 35px
    display: block

  .sessions-new__button--twitter-login
    margin-top: 50px

  .sessions-new__button--twitter-registration
    margin-top: 70px
    
  .sessions-new__button--email-registration
    margin-top: 50px

  .sessions-new__text--registration,
  .sessions-new__text--login
    @extend %block_center
    width: 670px
    font-size: 38px
    position: relative
    line-height: 1
    height: 38px
    color: $baseColor
    font-weight: bold

    &:before,
    &:after
      content: ''
      dispalay: block
      +cntr-abs(0,6px)
      background-color: $baseColor

    &:before
      left: 0

    &:after
      right: 0

  .sessions-new__text--registration
    margin-top: 60px

    &:before,
    &:after
      width: 122px

  .sessions-new__text--login
    margin-top: 92px

    &:before,
    &:after
      width: 94px
      
