- meta_tags = Settings.meta_tags.coupon.show
- set_meta_tags({\
  title: 'おめでとうございます！クーポンGET！',\
  description: 'おそ急さんスタンプラリーでは、スタンプを集めるとクーポンや抽選券がGETできます。スタンプを集めて、色々なおそ急さんグッズを手に入れよう！',\
  og: {\
    image: "#{root_url}#{Settings.condition.image_dir[1..-1]}/#{@condition.image_filename}.#{Settings.condition.image_extension}"\
  },twitter: {\
    image: {\
      src: "#{root_url}#{Settings.condition.image_dir[1..-1]}/#{@condition.image_filename}.#{Settings.condition.image_extension}}"\
    }\
  }\
})

p.condition-show__description = hbr @condition.description
p.condition-show__image
  = image_tag "#{@condition.image_path}"
p.condition-show__link--use
  - if @condition.audio_filename.present?
    audio(src="#{@condition.audio_path}" class="audio__condition--show")
    = link_to 'GETしたクーポンを確認する', coupon_path(@condition.coupon.token), class: 'js-trigger__play-audio', 'data-audio-selector': '.audio__condition--show'
  - else
    = link_to 'GETしたクーポンを確認する', coupon_path(@condition.coupon.token)
