- set_meta_tags({\
  title: 'はじめてのログイン',\
  description: 'おそ急さんスランプラリーに初めてログインする。あなたは何急推し？？？',\
})

h2.enquete-new__title
p.enquete-new__description シリアルナンバーを入力してアンケートに答えてね！
p.enquete-new__notification ※入力した内容は、登録後変更することができません。
= form_for(@user, url: answer_enquete_path(@user)) do |f|
  .enquete-new__input--serial-code
    - if @user.errors[:serial_code].count > 0
      .enquete-new__error-wrapper--serial-code
        - @user.errors[:serial_code].uniq.each do |error|
          p.enquete-new__error-message--serial-code = "#{error}"
    .input--serial-code__wrapper
      p.input--serial-code__label ワンデーオープンチケットシリアルナンバー(8桁)
      = f.text_field :serial_code, class: 'input--serial-code__input'
  .enquete-new__input--nickname
    - if @user.errors[:name].count > 0
      .enquete-new__error-wrapper--nickname
        - @user.errors[:name].uniq.each do |error|
          p.enquete-new__error-message--nickname = "#{error}"
    .input--nickname__wrapper
      p.input--nickname__label ニックネーム
      = f.text_field :name, class: 'input--nickname__input', maxlength: 16, minlength: 3
  .enquete-new__input--birthyear
    - if @user.errors[:birthyear].count > 0
      .enquete-new__error-wrapper--birthyear
        - @user.errors[:birthyear].uniq.each do |error|
          p.enquete-new__error-message--birthyear = "#{error}"
    .input--birthyear__wrapper
      p.input--birthyear__label ①生まれた年
      p.input--birthyear__input
        = f.select :birthyear, birthyear_collection, include_blank: false, prompt: '選択する'
  .enquete-new__input--gender
    - if @user.errors[:gender].count > 0
      .enquete-new__error-wrapper--gender
        - @user.errors[:gender].uniq.each do |error|
          p.enquete-new__error-message--gender = "#{error}"
    .input--gender__wrapper
      p.input--gender__label ②性別
      p.input--gender__input
        = f.select :gender, gender_collection, include_blank: false, prompt: '選択する'
  .enquete-new__input--zip-code
    - if @user.errors[:zip_code].count > 0
      .enquete-new__error-wrapper--zip-code
        - @user.errors[:zip_code].uniq.each do |error|
          p.enquete-new__error-message--zip-code = "#{error}"
    .input--zip-code__wrapper
      p.input--zip-code__label ③郵便番号(半角数字7桁)
      = f.text_field :zip_code, class: 'input--zip-code__input'
  .enquete-new__input--theme
    - if @user.errors[:theme].count > 0
      .enquete-new__error-wrapper--theme
        - @user.errors[:theme].uniq.each do |error|
          p.enquete-new__error-message--theme = "#{error}"
    .input--theme__wrapper
      p.input--theme__label ④推し急
      p.input--theme__input
        = f.select :theme, theme_collection, include_blank: false, prompt: '選択する'
  .enquete-new__input--frequency-of-use-tokyu
    - if @user.errors[:frequency_of_use_tokyu].count > 0
      .enquete-new__error-wrapper--frequency-of-use-tokyu
        - @user.errors[:frequency_of_use_tokyu].uniq.each do |error|
          p.enquete-new__error-message--frequency-of-use-tokyu = "#{error}"
    .input--frequency-of-use-tokyu__wrapper
      p.input--frequency-of-use-tokyu__label ⑤東急線の利用頻度
      p.input--frequency-of-use-tokyu__input
        = f.select :frequency_of_use_tokyu, frequency_of_use_tokyu_collection, include_blank: false, prompt: '選択する'
  .enquete-new__input--job
    - if @user.errors[:job].count > 0
      .enquete-new__error-wrapper--job
        - @user.errors[:job].uniq.each do |error|
          p.enquete-new__error-message--job = "#{error}"
    .input--job__wrapper
      p.input--job__label ⑥職業
      p.input--job__input
        = f.select :job, job_collection, include_blank: false, prompt: '選択する'
  p.enquete-new__button--terms-of-use.js-trigger__open-terms-modal 利用規約
  - if @user.errors[:agreement].count > 0
      .enquete-new__error-wrapper--agreement
        - @user.errors[:agreement].uniq.each do |error|
          p.enquete-new__error-message--agreement = "#{error}"
  .enquete-new__agreement-terms
    = f.check_box :agreement, class: 'agreement-terms__input'
    = f.label :agreement, '利用規約に同意する', class: 'aggrement-terms__label'
  input.enquete-new__button--submit(type="submit" value="回答する")
