- set_meta_tags({\
  title: '参加登録完了',\
  description: 'おそ急さんスタンプラリーに登録完了。東急の各線に乗っておそ急さんスタンプを探しに行こう！'\
})

h2.enquete-thanks__title 登録完了しました！
p.enquete-thanks__button--root
  = link_to 'スタンプラリー画面へ行く', root_path
