- set_meta_tags({\
  title: '新しいパスワードを入力',\
  description: 'もしパスワードを忘れた場合は、再設定を行ってください。'\
})

h2.passwords-edit__title 新しいパスワードを入力
p.passwords-edit__description 新しいパスワードを入力してください。
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  p.passwords-edit__label--password パスワード(#{@minimum_password_length}文字以上)
  - resource.errors[:password].each do |error|
    p.passwords-edit__error = "#{t('activerecord.attributes.user.password')}#{error}"
  = f.password_field :password, autofocus: true, autocomplete: "off", class: 'passwords-edit__input--password'
  p.passwords-edit__label--password-confirmation パスワード確認入力
  - resource.errors[:password_confirmation].each do |error|
    p.passwords-edit__error = "#{t('activerecord.attributes.user.password_confirmation')}#{error}"
  = f.password_field :password_confirmation, autocomplete: "off", class: 'passwords-edit__input--password-confirmation'
  = f.submit '再設定', class: 'passwords-edit__button--submit'
