- set_meta_tags({\
  title: '再設定メール送信',\
  description: 'もしパスワードを忘れた場合は、再設定を行ってください。'\
})

h2.passwords-instructions__title メールを送信しました。
p.passwords-instructions__description
  |
    パスワード再設定の手続きを記載したメールをお客様のメールアドレス宛に送信しました。
    送信されたメールのURLをクリックすれば、新規登録完了となります。
