- set_meta_tags({\
  title: 'パスワード再設定',\
  description: 'もしパスワードを忘れた場合は、再設定を行ってください。'\
})

h2.passwords-new__title
p.passwords-new__description
  |
    おそ急さんスタンプラリーの新規登録の際に使用したメールアドレスを入力してください。
    パスワードをリセットできるメールがお客様の元に送信されます。
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  - resource.errors.full_messages.each do |error|
    p.passwords-new__error = error
  = f.email_field :email, autofocus: true, class: 'passwords-new__input--email'
  = f.submit '送信', class: 'passwords-new__button--submit'
