- set_meta_tags({\
  title: 'パスワード変更完了',\
  description: 'もしパスワードを忘れた場合は、再設定を行ってください。'\
})

h2.passwords-reset__title パスワード変更完了
p.passwords-reset__description パスワードが変更されました。
p.passwords-reset__link--root
  = link_to 'スタンプラリーへ', root_path
