html, body
  *
    +box-sizing(border-box)

.global__wrapper
  background-image: image-url('common/bg.png')
  padding-top: 108px
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif
