%block_center
  margin: 0 auto

%text_center
  text-align: center

%font_bold
  font-weight: bold

%font_normal
  font-weight: normal

%clearfix
  &:after
    content: ''
    display: block
    clear: both

%reset_default_input
  +appearance(none)
  +border-radius(0)
  background-color: transparent
  border: none
  padding: 0
  outline: none

%devise__button--submit
  @extend %reset_default_input
  display: block
  color: #fff
  font-size: 32px
  @extend %block_center
  width: 490px
  height: 77px
  background-color: #ffb940
  border: 4px solid #f19149
  +border-radius(12px)
  +link-color(#fff)
  @extend %text_center
  font-weight: bold

  a
    text-decoration: none
    width: 482px
    height: 69px
    line-height: 69px
    display: block
    font-weight: bold

%passwords__button--submit
  @extend %devise__button--submit

%enquete__button--submit
  @extend %devise__button--submit

%registrations__button--submit
  @extend %devise__button--submit

%contact__button--submit
  @extend %devise__button--submit

%coupon__button
  @extend %devise__button--submit

%confirmations__button--submit
  @extend %devise__button--submit

%devise__input
  display: block
  @extend %reset_default_input
  height: 42px
  border: 2px solid #b5b5b5
  background-color: #fbfbfb
  padding: 7px 10px
  font-size: 24px
  line-height: 1

%passwords__input
  @extend %devise__input

%registrations__input
  @extend %devise__input

%contact__input
  @extend %devise__input

%confirmations__input
  @extend %devise__input

%sheet__wrapper
  width: 630px
  height: 419px
  border: 5px solid $baseColor
  +border-radius(10px)
  background-color: #fff
  position: relative

%sheet__cell
  +box-sizing(content-box)
  width: 203px
  height: 202px
  position: absolute

  img
    +cntr-abs(168px,168px)
    display: block

  &:before
    content: ''
    display: block
    +replace-sprite('home__index__bg__stamp-sheet-cell')
    +cntr-abs(image-width(sprite-file($sprite-image, 'home__index__bg__stamp-sheet-cell')), image-height(sprite-file($sprite-image, 'home__index__bg__stamp-sheet-cell')))

  @each $i in 1, 2, 3
    &:nth-child(#{$i})
      border-bottom: 5px solid $baseColor
      top: 0px

  @each $i in 4, 5, 6
    &:nth-child(#{$i})
      bottom: 0px

  @each $i in 1, 2, 4, 5
    &:nth-child(#{$i})
      border-right: 5px solid $baseColor

  &:nth-child(1),
  &:nth-child(4)
    left: 0px

  &:nth-child(2),
  &:nth-child(5)
    left: 208px

  &:nth-child(3),
  &:nth-child(6)
    left: 416px

%error_message
  width: 620px
  @extend %block_center
  @extend %text_center
  font-size: 20px
  color: #ff0000
  line-height: 1.3

%popup_overlay
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.7)
  z-index: 8000
  color: $baseColor
  display: none

  &.state__display
    display: block

%popup_wrapper
  +cntr-abs(620px,674px)
  padding: 30px 35px 14px
  border: 5px solid
  +border-radius(20px)

%popup_title
  @extend %block_center
  @extend %text_center
  +replace-sprite-bg('common__popup__bg--title')
  font-size: 32px
  font-weight: bold
  line-height: 66px

%popup_content
  @extend %block_center
  width: 540px
  height: 450px
  margin-top: 30px
  background-color: #fff
  +box-shadow(0px 4px 6px -2px #c18d5e)
  font-size: 32px
  line-height: 2
  padding: 10px
  overflow: auto

%popup_button_close
  @extend %block_center
  @extend %text_center
  margin-top: 20px
  background-color: #fff
  width: 174px
  height: 56px
  font-weight: bold
  font-size: 26px
  line-height: 1
  border: 7px solid
  padding: 8px 0
  +border-radius(16px)

%coupon_page
  padding: 70px 0 300px
  color: $baseColor
  font-weight: bold

%coupon_title
  @extend %text_center
  font-size: 42px
  line-height: 1

%coupon_description
  @extend %text_center
  font-size: 25px
  line-height: 1.6
  margin-top: 30px
  max-height: 100%
  +link-color(#e03f3f)

%coupon_image
  @extend %block_center
  width: 515px
  height: 310px
  margin-top: 26px

%lottery_title
  +replace-sprite('lottery__title')

%lottery_button
  @extend %block_center
  @extend %text_center
  +link-color($baseColor)
  color: $baseColor
  font-weight: bold
  border: 5px solid $baseColor
  background-color: #fff
  font-size: 27px
  width: 425px
  height: 77px
  line-height: 67px
  position: relative

  a
    +pos(-5px,'','',-5px)
    width: 425px
    height: 77px
    display: block
    text-decoration: none
    line-height: 77px

%lottery_tweet_button
  @extend %block_center
  @extend %text_center
  width: 414px
  height: 56px
  font-size: 27px
  color: #fff
  font-weight: bold
  line-height: 56px
  background-color: #2ca7e0
  +border-radius(18px)
  +link-color(#fff)

  a
    text-decoration: none
    width: 100%
    height: 100%
    display: block

%lottery_information
  @extend %block_center
  width: 706px
  background-color: #fff
  border: 5px solid #dcdcdc
  margin-top: 40px
  padding: 15px 30px 80px
  text-align: left
  font-size: 25px

  *
    max-height: 100%

  .information__heading
    @extend %text_center
    font-size: 33px
    font-weight: bold
    line-height: 1

    &:before,
    &:after
      content: '◆'
      font-size: 26px

    &:before
      margin-right: 16px

    &:after
      margin-left: 16px

  .information__schedules
    margin-top: 46px

  .schedule--1st__heading,
  .schedule--2nd__heading
    font-size: 30px
    font-weight: bold
    line-height: 1

  .schedule--1st__duration,
  .schedule--2nd__duration
    font-size: 24px
    line-height: 1
    margin-top: 20px

  .information__schedule--2nd
    margin-top: 20px

  .information__detail--how-to,
  .information__detail--prize
    margin-top: 74px

  .detail--how-to__heading,
  .detail--prize__heading
    font-weight: bold
    font-size: 28px
    line-height: 1
    
    &:before
      content: '●'
      font-size: 20px

  .detail--how-to__procedures
    margin-top: 20px

  .detail--how-to__procedure
    font-size: 26px
    line-height: 1

    &:nth-child(1)
      &:before
        content: '①'

    &:nth-child(2)
      margin-top: 24px

      &:before
        content: '②'

  .detail--how-to__notifications
    margin-top: 20px

  .detail--how-to__notification
    font-size: 26px
    color: #de0202
    line-height: 1.5
    text-indent: -26px
    padding-left: 26px

    &:before
      content: '※'

  .detail--prize__stages
    margin-top: 24px

  .stage--1st__heading,
  .stage--2nd__heading
    font-size: 22px
    line-height: 1

    &:before
      content: '●'
      font-size: 18px

  .stage--1st__prize-item,
  .stage--2nd__prize-item
    margin-top: 10px
    padding-left: 25px

  .stage--2nd__prize-item--small
    font-size: 20px

  .detail--prize__stage--2nd
    margin-top: 48px

  .detail--prize__notification
    font-size: 22px
    line-height: 1
    margin-top: 43px

    &:before
      content: '※'

%tweet_popup
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,.7)
  z-index: 5000
  display: none

  &.state__display
    display: block

  .popup-tweet__wrapper
    +cntr-abs(634px,530px)
    background-color: #fff
    padding: 22px
    color: $baseColor

  .popup-tweet__label
    @extend %text_center
    font-size: 32px
    line-height: 1
    font-weight: bold

  .popup-tweet__button--close
    width: 50px
    height: 50px
    background-color: #b7b7b7
    +border-radius(25px)
    +pos(10px,27px,'','')

    &:before,
    &:after
      +cntr-abs(5px,30px)
      content: ''
      display: block
      background-color: #fff

    &:before
      +rotate(45deg)

    &:after
      +rotate(-45deg)

  .popup-tweet__input
    @extend %reset_default_input
    border-top: 3px solid #4d4d4d
    border-bottom: 3px solid #4d4d4d
    height: 364px
    width: 590px
    margin-top: 12px
    resize: none
    font-size: 32px
    line-height: 1.5
    color: $baseColor
    padding: 20px 10px

  .popup-tweet__actions
    @extend %clearfix
    margin-top: 22px

  .popup-tweet__text-counter,
  .popup-tweet__tweet-button
    float: right

  .popup-tweet__text-counter
    font-size: 22px
    line-height: 1
    margin-top: 20px

    &.state__text-length-over
      color: #ff0000

  .popup-tweet__tweet-button
    @extend %text_center
    +border-radius(16px)
    width: 174px
    height: 56px
    color: #fff
    background-color: #31cbfc
    line-height: 56px
    font-size: 25px
    font-weight: bold
    margin-left: 20px

    &.state__unavailable
      opacity: .3

%lottery_tweet_popup
  @extend %tweet_popup
