footer.global__footer
  p.footer__link--to-top
    a.js-trigger__smooth-scroll(href="#section__top") ▲
  .footer__copyright
    p.copyright__text--copyright
      |
        &copy; 赤塚不二夫／おそ松さん製作委員会
        &copy; Copyright TOKYU CORPORATION All Rights Reserved.
    p.copyright__text--powered
      = link_to 'powered by rev-stamp.com', 'http://rev-stamp.com'
    ul.copyright__links
      li.copyright__link--osomatsusan
        = link_to '', "http://osomatsusan.com/", :target => '_blank'
      li.copyright__link--tokyudentetsu
        = link_to '', "http://www.tokyu.co.jp/", :target => '_blank'
