.global__header-menu-overlay.js-element__header-menu-overlay
.global__header-menu.js-element__header-menu
  = link_to 'TOP', root_path
  p.js-trigger__open-notifications-modal お知らせ
  p.js-trigger__open-faq-modal よくある質問
  - if current_user and current_user.provider == 'email' and current_user.answered_enquete == true
    = link_to 'パスワード再設定', new_user_password_path
  /- = link_to 'お問い合わせ', new_contact_path
  p.js-trigger__open-terms-modal 利用規約
  - if current_user
    = link_to "ログアウト", destroy_user_session_path, :method => :delete
