p.information__heading ごあんない
ul.information__schedules
  li.information__schedule--1st
    p.schedule--1st__heading 1stステージ抽選日
    p.schedule--1st__duration 8月30日(火) 〜 9月12日(月)
  li.information__schedule--2nd
    p.schedule--2nd__heading 2ndステージ抽選日
    p.schedule--2nd__duration 9月24日(土) 〜 9月30日(金)
ul.information__details
  li.information__detail--how-to
    p.detail--how-to__heading 抽選方法
    ul.detail--how-to__procedures
      li.detail--how-to__procedure 欲しい賞を選択します
      li.detail--how-to__procedure その場で抽選が行われ、結果がでます
    ul.detail--how-to__notifications
      li.detail--how-to__notification スタンプラリーで獲得した抽選券の数だけ抽選ができます。
      li.detail--how-to__notification 1stステージで獲得した抽選券は、使用しなければ2ndステージに引き継ぐことができます。
  li.information__detail--prize
    p.detail--prize__heading 景品一覧
    ul.detail--prize__stages
      li.detail--prize__stage--1st
        p.stage--1st__heading 1stステージ
        ul.stage--1st__prize-list
          li.stage--1st__prize-item A賞 おそ急さん限定ぬいぐるみ 15名
          li.stage--1st__prize-item B賞 おそ急さん限定ポスターセット 30名
          li.stage--1st__prize-item C賞 おそ急さん限定シール 200名
      li.detail--prize__stage--2nd
        p.stage--2nd__heading 2ndステージ
        ul.stage--2nd__prize-list
          li.stage--2nd__prize-item A賞 おそ急さん限定抱きまくら 15名
          li.stage--2nd__prize-item
            | B賞 
            span.stage--2nd__prize-item--small おそ急さん限定アクリルキーホルダーセット
            |  30名
          li.stage--2nd__prize-item C賞 おそ急さん限定シール 200名
    p.detail--prize__notification 景品は変更になる場合があります。
