- faqs = [\
  {\
    title: "1stステージに入手した抽選券は2ndステージで使えますか？",\
    content: "使えます。"\
  },\
  {\
    title: "１つのスマートフォンで複数のシリアルコードは登録できますか？",\
    content: "スタンプラリーとツイッターをログアウトしていただければ、別アカウントで登録可能です。メール登録の方はスタンプラリーのログアウトをした後、別のメールアドレスで登録してください。"\
  },\
  {\
    title: "2ndに参加するには、セカンドのワンデーを買う必要がありますか？",\
    content: "一度登録されたシリアルナンバーで、2ndもご参加いただけます。ただし、2ndもスタンプを集めるには、ご購入をお勧めします。"\
  },\
  {\
    title: "３個目のスタンプでもらえる記念ノベルティ「トド松入場券」の引換期間はいつまでですか？",\
    content: "ファーストステージでゲットしたトド松入場券クーポンは、ファーストステージの間でしか引換できませんのでご注意ください。同様にセカンドステージでゲットしたトド松入場券のクーポンは、セカンドの開催期間に引換ください。"\
  },\
  {\
    title: "３個目のスタンプでもらえる記念ノベルティは何回でももらえるの？",\
    content: "1stで1枚、2ndで1枚しか引換できません。"\
  },\
  {\
    title: "アプリを入手する必要はありますか？",\
    content: "ありません。"\
  },\
  {\
    title: "おそ急は遅いんですか速いんですか？",\
    content: "渋谷から横浜まで26分でいけるんで、速い方かと！"\
  },\
  {\
    title: "おそ急ワンデーオープンチケットがもう1枚欲しい",\
    content: "お一人さま１回の購入につき、3枚まです。スタンプラリーは２周目もできる仕様になっておりますので、ぜひご利用ください。"\
  },\
  {\
    title: "特別入場券は、どこで交換できますか？",\
    content: "引換場所：二子玉川ライズ S.C.（タウンフロント１階）東急カードカウンターです。"\
  },\
  {\
    title: "シリアルナンバーを無くしてしまいました",\
    content: "一度登録されたシリアルナンバーはお手元に残しておく必要はございません。登録前に紛失された場合は、残念ながら再度お求め下さる必要がございます。"\
  },\
  {\
    title: "スタンプがうまく押せません",\
    content: "ポイントは3つあります。①スマートフォンを手に持って押しましょう。②押したときに画面上で滑らないようにしましょう。③画面からはみ出ないように注意しましょう。あとはぐっと軽く押し込むようにスタンプすればきちんとスタンプを押すことができます。その他不具合等が見られる場合は、お問い合わせ窓口からお問い合わせください。"\
  },\
  {\
    title: "スタンプしたときに音が出ません",\
    content: "通信状況、端末設定、端末の種類などの条件により音が出ない場合があります。音が出ない場合でもスタンプはたまっていきます。\n※お客さまの端末の速度制限等の場合に音が出ないことがあります。"\
  },\
  {\
    title: "スタンプラリーに参加するのに費用は必要ですか？",\
    content: "期間限定おそ急ワンデーオープンチケットを購入していただく必要があります。購入の際に受け取ったシリアルコードを登録してログインしてください。通信料並びに電車賃等についてはお客様のご負担となります。"\
  },\
  {\
    title: "スタンプラリーの開催地を教えてください",\
    content: "SHIBUYA109（８階エスカレーター横）、武蔵小杉東急スクエア（３階「靴下屋」前）、東急百貨店たまプラーザ店（１階センターコート）、東急プラザ蒲田（６階「Taka-Q」前）、東急ストア三軒茶屋店（サービスカウンター）、レミィ五反田（５階エスカレーター（上り）付近）、二子玉川ライズ S.C.（タウンフロント１階）です。"\
  },\
  {\
    title: "チョロ急は電車なんですか？",\
    content: "電車です。"\
  },\
  {\
    title: "デジタルスタンプを持って帰ったら押し放題ですか？",\
    content: "デジタルスタンプはそれぞれサーバーで管理していますので、持って帰って押すことはできません・・・。また、それは犯罪なので絶対にやめましょう。"\
  },\
  {\
    title: "パスワードを忘れた場合の対処方法を教えてください",\
    content: "ログイン画面の「パスワードを忘れた方はこちら」よりパスワード再設定を行うことができます。"\
  },\
  {\
    title: "フィーチャーフォン（ガラケー）でも遊べますか？",\
    content: "対応しておりません。"\
  },\
  {\
    title: "扱えないブラウザはありますか？",\
    content: "・Firefoxは認証できません。\n・safari プライベートモードでは認証できません。\n・一部のAndroid Browserの中には対応できないものがあります"\
  },\
  {\
    title: "一度スタンプを集め終わった後でも楽しめますか？",\
    content: "同じアカウントで何回でも繰り返しスタンプラリーに参加できます。たまったスタンプはスタンプコレクションに保存されますので何度でもお楽しみください。"\
  },\
  {\
    title: "仮登録メールが届かないのですが、どうしたらよいですか？",\
    content: "「ドメイン指定受信/拒否」を設定/解除していない、もしくはURL付きメールをブロックしている可能性が考えられます。\n「@rev-stamp.com」のドメインから送られてくるメールを許可していない場合は、携帯電話の設定を変更してください。 変更後、ログイン画面の「確認メールを再送したい方はこちら」からメールアドレスを入力して送信すると再度仮登録メールが送られますので、そちらから本登録を完了させてください。\n機種によっては、URLが記載されているメールを一律ブロックする設定になっているものもあります。 ドメイン指定とは別に、こちらも許可してから再度確認メールの再送をお願いいたします。"\
  },\
  {\
    title: "開催期間を教えてください",\
    content: "8月1日から9月25日まで開催します。ファーストステージが8月1日から8月28日まで、8月29日のメンテナンス日を挟んで、8月30日から9月25日までがセカンドステージとなります。26日から30日までは抽選会のみのご利用が可能です。"\
  },\
  {\
    title: "機種変更や端末を紛失した場合のスタンプ等はどうなりますか？",\
    content: "新しい機種でサイトにアクセスし、登録メールアドレスにてログインしていただければ、そのままご利用いただけます。"\
  },\
  {\
    title: "終了後はどうなりますか？",\
    content: "9月30日までは閲覧可能です。"\
  },\
  {\
    title: "推し急によって何か変わることはありますか？",\
    content: "何かが変わります！"\
  },\
  {\
    title: "対応端末を教えてください",\
    content: "Android、iOSのスマートフォンでご利用いただけます。\n但し、OSのバージョンなど推奨環境は下記になります。\n■Android\n・OSバージョン：Android 4.2.0以上\n・対応ブラウザ：Chrome\n※ Androidブラウザはほとんどの場合使用可能ですが、端末によっては使えない場合があります\n■iOS\n・OSバージョン：iOS 8.x以上\n・対応ブラウザ：Safari、Chrome\n※ safari プライベートモードでは認証できません。"\
  },\
  {\
    title: "退会の仕方を教えてください",\
    content: "最終日が過ぎますと自動的に退会します。"\
  },\
  {\
    title: "端末が通信していなくとも利用できますか？",\
    content: "ご利用できません。必ず端末が通信可能な状態でご利用ください。"\
  },\
  {\
    title: "抽選はいつできますか？",\
    content: "1stステージ抽選会は、8月30日～9月5日まで 2ndステージ抽選会は、9月24日～9月30日までです。スタンプラリー開催期間中も、当該期間は抽選が可能です。"\
  },\
  {\
    title: "同じスタンプを2回押すことはできますか？",\
    content: "同じ日に2回押すことはできませんが、翌日以降再び押すことができます。"\
  },\
  {\
    title: "保有しているスタンプや特典を譲渡することはできますか？",\
    content: "譲渡することはできません。スタンプや特典は取得時の会員様のみ利用することができます。"\
  },\
  {\
    title: "遊び方がわかりません",\
    content: "おそ急さん公式サイトの「遊び方」をご確認いただくか、それでも分からない場合は窓口へご連絡ください。"\
  }\
]

.global__modal--faq.js-element__modal-faq
  p.modal--faq__title
  p.modal--faq__button--close.js-trigger__close-faq-modal
  .modal--faq__list
    - faqs.each do |faq|
      .modal--faq__item.js-element__faq-item
        .faq-item__label.js-trigger__toggle-faq-accordion
          p.faq-label__title = shorten_modal_faq_title_label faq[:title]
        .faq-item__wrapper.js-element__faq-accordion
          .faq-item__inner
            p.faq-wrapper__title = faq[:title]
            p.faq-wrapper__content = hbr faq[:content]
            p.faq-wrapper__trigger--close.js-trigger__close-faq-accordion 閉じる
