.global__modal--notifications.js-element__modal-notifications
  p.modal--notifications__title
  p.modal--notifications__button--close.js-trigger__close-notifications-modal
  .modal--notifications__list
    - @notifications.each do |notification|
      .modal--notifications__item.js-element__notifications-item
        .notifications-item__label.js-trigger__toggle-notifications-accordion
          p.notifications-label__date = notification.published_at.to_s(:date)
          p.notifications-label__title = shorten_modal_notification_title_label notification.title
        .notifications-item__wrapper.js-element__notifications-accordion
          .notifications-item__inner
            p.notifications-wrapper__date = notification.published_at.to_s(:date)
            p.notifications-wrapper__title = notification.title
            p.notifications-wrapper__content = hbr raw notification.content
            p.notifications-wrapper__trigger--close.js-trigger__close-notifications-accordion 閉じる
