.global__modal--terms.js-element__modal-terms
  p.modal--terms__title
  p.modal--terms__button--close.js-trigger__close-terms-modal
  p.modal--terms__wrapper
    span.modal--terms__heading
      | 利用規約
    br
    | 当社は、この「おそ急さんスタンプラリー2016夏」利用規約（以下「本規約」といいます。）に基づいて第１条に定義する本サービスを登録ユーザーに提供するものとします。
    br
    span.modal--terms__heading
      | 第１条（用語の定義）
    br
    | 本規約において、次の用語はそれぞれ次の意味で使用されます。
    br
    | ①「当社」とは、東京急行電鉄株式会社のことをいいます。
    br
    | ②「本サービス」とは、会員等がスタンプカード・スタンプラリー、および特典（クーポン等）を保存、閲覧、利用できるサービスをいいます。
    br
    | ③「会員」とは、本サービスを利用してスタンプデータ、特典（クーポン等）を取得するために、本規約に同意のうえ、会員登録を行ったものをいいます。
    br
    | ④「会員等」とは、会員及び非会員で本サービスを利用するユーザーのことをいいます。
    br
    | ⑤「認証情報」とは、ID、パスワードその他当社が会員からの接続を認証するために必要な情報をいいます。
    br
    | ⑥「本契約」とは、本利用規約に同意のうえ会員登録することにより成立する当社と会員との契約のことをいいます。
    br
    span.modal--terms__heading
      | 第２条（本サイトの推奨環境）
    br
    | 本サイトでは、JavaScriptおよびスタイルシートを使用しています。
    br
    | 下記の推奨ブラウザをご利用の場合、ブラウザの設定でこれら機能を有効にしておくことで、機能を正常に作動させることができます。
    br
    | Android、iOSのスマートフォン及びタブレットでご利用いただけます。必ず通信可能な環境でご利用ください。なお、通信料等は会員の負担となります。
    br
    | 但し、OSのバージョンなど詳細のご利用条件は下記になります。
    br
    | 
    br
    | ■Android
    br
    | ・OSバージョン：Android 4.2.0以上
    br
    | ・対応ブラウザ：Chrome、Android Browser（一部機種を除く）
    br
    | ■iOS
    br
    | ・OSバージョン：iOS 8.x以上
    br
    | ・対応ブラウザ：Safari、Chrome
    br
    | ※ safari プライベートモードでは認証できません。
    br
    span.modal--terms__heading
      | 第３条（会員登録）
    br
    | 本サービスの利用希望者は、本規約の全てに同意したうえで、当社所定の方法により会員登録をするものとします。
    br
    | ２ 当社は以下の事由があると判断した場合には、会員登録を承認しないことができるものとします。なお、当社は会員登録を承認しない場合においても、その理由を開示する義務を負わないものとします。
    br
    | ① 本規約に違反したことがある者からの利用登録である場合
    br
    | ② 登録内容に虚偽、過誤がある場合
    br
    | ③ 登録された電子メールが機能していないと判断される場合
    | ④ 第三者になりすまして会員登録を行った場合
    | ⑤ 会員が本規約第13条に定める反社会的勢力と判断される場合
    | ⑥ その他当社が会員登録を不適切・不適当と判断した場合
    | 
    | ３ 会員は、自己の責任で認証情報を適切に管理するものとし、認証情報を第三者に利用させ、第三者へ譲渡し、その他第三者に対する公開等の処分をしてはならないものとします。
    | 
    | ４ 認証情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害は会員が負うものとし、当社の責めに帰すべき事由がない限り、当社は一切の責任を負わないものとします。
    br
    span.modal--terms__heading
      | 第４条（権利帰属）
    br
    | 本サービスに関する知的財産権はすべて当社又は当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、本サービスに関する当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
    br
    span.modal--terms__heading
      | 第５条（会員の遵守事項）
    br
    | 会員は、当社から電子メールやアプリのプッシュ通知、TwitterのDM等で連絡事項やキャンペーン情報等が送信されることを了承するものとします。
    br
    span.modal--terms__heading
      | 第６条（第三者の損害）
    br
    | 会員が本サービスを利用することにより第三者に対して損害を与えた場合、会員は自己の責任により解決するものとし、当社には一切の損害を与えないものとします。
    br
    | 
    br
    span.modal--terms__heading
      | 第７条（退会処分等）
    br
    | 当社は、以下のいずれかに該当する場合、またはその恐れがあると当社が判断した場合には、会員へ事前に通知・催告することなく、かつ会員の承諾を得ずに、退会処分及び利用停止処分その他当社が適切と判断する措置をとることができるものとします。
    br
    | ① 本規約に違反した場合
    br
    | ② 登録情報に虚偽、過誤がある場合
    br
    | ③ 登録した電子メールアドレスが機能していないと判断される場合
    br
    | ④ 第三者になりすまして会員登録を行った場合
    br
    | ⑤ 会員が死亡した場合
    br
    | ⑥ その他当社が不適切と判断する行為を行った場合
    br
    | 
    br
    span.modal--terms__heading
      | 第８条（失効）
    br
    | 会員が退会し、又は退会処分等により本契約が終了する場合には、会員が保有しているスタンプカード・スタンプラリー、スタンプデータ及び特典(クーポン等)が失効することをあらかじめ了承するものとします。
    br
    | 
    br
    | span.modal--terms__heading
    br
    |   | 第９条（システムの保守管理等）
    br
    | 当社は、以下のいずれかの事由に該当する場合、本サービスの全部もしくは一部を一時中断、又は停止することができるものとし、これにより、会員その他の第三者が被ったいかなる不利益及び損害について、責任を負わないものとします。
    br
    | ① システムの管理・保守等のメンテナンスを行う場合、又はシステムの機能向上のためのアップグレードを行う場合
    br
    | ② 本サービスに関する通信環境の障害、天災、火災、ストライキ、洪水、疫病、暴動、戦争、テロ行為等に起因し、又はそれに関連する要因により、本サービスの全部又は一部の提供不能が発生した場合
    br
    | ③ 第三者によるハッキング、クラッキング等の本サービスに対する一切の妨害行為に起因し、又はそれに類する事情が原因となり本サービスの全部又は一部の提供不能が発生した場合
    br
    | 
    br
    span.modal--terms__heading
      | 第１０条（権利義務の譲渡）
    br
    | 会員は、本規約に基づいて発生した権利及び義務を第三者に譲渡し、又は担保に供してはならないものとします。
    br
    | ２ 当社は、本サービスの事業を第三者に譲渡する場合（会社分割等実質的に事業を譲渡する場合を含む。）は、事前に会員に告知することにより、会員の事前の承諾なくして、本契約上の地位又は本規約に基づいて発生する権利若しくは義務について、第三者に対する譲渡、担保設定その他の処分を行うことができるものとし、会員はかかる処分について本項において予め同意したものとします。
    br
    | 
    br
    span.modal--terms__heading
      | 第１１条（損害賠償）
    br
    | 当社が本規約に違反し会員に損害を与えた場合には、当社に故意又は重大な過失が存する限り、会員に生じた現実の損害のうち、通常かつ直接の損害のみを賠償するものとし、逸失利益については賠償しないものとします。
    br
    |     
    br
    span.modal--terms__heading
      | 第１２条（個人情報の取り扱い）
    br
    | 当社は、本サービスを通じて取得する個人情報に関して、別途表明する「個人情報保護方針」に基づき取り扱うものとします。
    br
    | ２ 本サービスの提供にあたって当社が取得した個人情報について、当社に対して、第三者より問い合わせがあった場合又は弁護士法第２３条の２に定める弁護士照会制度による照会申出があった場合又は刑事訴訟法第１９７条第２項による照会があった場合及び裁判所若しくは警察その他行政機関の命令・捜査等があった場合には、当社は必要な範囲において情報開示を行う場合があり、会員はそれを事前に承諾し、同意するものとします。
    br
    | ３ 当社は、本サービスを通じて取得した情報のうち、統計的処理を施して個人を特定できない情報については、会員の承諾なく第三者に開示できるものとします。
    br
    | ４ 当社のCookieは、サービス利用時のユーザを一意に特定するため、Cookieにこちらで割り振ったユーザIDを書き込んでいます。
    br
    | ５ 本サイトでは、「Cookie」を下記の目的に使用しています。
    br
    | ①利用者のブラウザがCookieを受け入れない場合、クーポン発行の機能が利用できません。
    br
    | ②個人情報・入力情報をCookie に書き込むことは一切行っていません。
    br
    | ③機能をご利用いただく際にメールアドレスまたはツイッターアカウントを取得します。
    br
    | 
    br
    span.modal--terms__heading
      | 第１３条（著作権）
    br
    | １ 本サイト内のコンテンツ（文章・資料・画像・音声等）、サイトデザインの著作権は、当社もしくは第三者機関に帰属しているものとします。
    br
    | ２ 営利、非営利、私用の目的を問わず、本サイトのコンテンツを許可なく二次利用することを禁じます。
    br
    | 
    br
    span.modal--terms__heading
      | 第１４条（禁止事項）
    br
    | １ 当サイトの利用にあたって、以下の各号の行為、またはそのおそれがある行為を禁止します。各号の行為に該当することが判明したときには、別段の催告その他の手続きを要せず、即時に本契約を解除することができるものとします。
    br
    | ①当社または第三者の所有権、著作権を含むいっさいの知的財産権、肖像権、パブリシティ権などの正当な権利を侵害する行為
    br
    | ②他の利用者や第三者を誹謗中傷する行為  他の利用者や第三者に不利益、損害を与える行為
    br
    | ③公序良俗に反する行為
    br
    | ④当社の承認がないにもかかわらず、本サイトに関連して営利を目的とする行為
    br
    | ⑤当サイトの運営を妨害する行為
    br
    | ⑥虚偽の情報を登録する行為
    br
    | ⑦その他、当社が、不適切と判断した行為
    br
    | ２ 当社又は会員は、自己が次の各号のいずれにも該当しないことを表明・保証し、相手方が各号のいずれかに該当することが判明したときには、別段の催告その他の手続きを要せず、即時に本契約を解除することができるものとします。
    br
    | ① 暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋、社会運動標榜ゴロ、特殊知能暴力団またはこれらに準ずる反社会的な集団または個人（以下、総称して「反社会的勢力」という。）であること。
    br
    | ② 役員または実質的に経営を支配する者が反社会的勢力であること。
    br
    | ③ 親会社、子会社（いずれも会社法の定義による。以下同じ）が前２号のいずれかに該当すること。
    br
    | ３ 本条１項・２項の規定による本契約の解除により、解除者に損害が生じた場合には、被解除者は解除者に生じた損害を賠償するものとします。
    br
    | 
    br
    span.modal--terms__heading
      | 第１５条（免責事項）
    br
    |  本サイトの利用にあたって、以下の事象に関して、当社の責めに帰すべきものを除き一切の責任を負いかねます。
    br
    | ①本サイトに掲載される情報の内容、また本サイトならびに本サービスの欠陥及びこれに起因する損失や損害
    br
    | ②当サイトが提供するサービスにおいて、ユーザ間で生じたトラブル（違法又は公序良俗に反する行為の提案、名誉毀損、侮辱、プライバシー侵害、脅迫、誹謗中傷、いやがらせ等）について
    br
    | ③ユーザーが使用するコンピューター、回線、ソフトウェア等の環境等に基づき生じた損害について
    br
    | ④当サイトへリンクをはっていただいたサイトの内容およびリンクサイトの使用に関連して発生した、すべての損害について
    br
    | 
    br
    span.modal--terms__heading
      | 第１６条（規約の変更）
    br
    | 当社は、当社所定の方法で通知又は公表することにより、法令の範囲内で本規約を修正することができるものとします。
    br
    |     
    br
    span.modal--terms__heading
      | 第１７条（サービスの変更等）
    br
    | 当社は、利用者に事前の通知をすることなく、本サービスまたは個別サービスの内容の全部または一部の変更、停止または中止（終了）をすることができるものとします。当該停止または中止には、システムの保守や、天災などに起因するものも含まれます。
    br
    | 前項に基づき本サービスまたは個別サービスの内容が変更、停止または中止（終了）された場合、当社は、これに起因して生じた利用者または第三者が被った損害について、一切責任を負わないものとします。
    br
    | 
    br
    span.modal--terms__heading
      | 第１８条（裁判管轄）
    br
    | 本規約又は本サービスの利用に関して、当社と、会員との間で生じた紛争については、訴額に応じて東京簡易裁判所又は東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    br
    |     
    br
    span.modal--terms__heading
      | 第１９条（準拠法）
    br
    | 本規約及び本サービスについては、すべて日本国の法令が適用されるものとします。
    br
    |
    br
    | 以上
    br
    | 2016年7月22日 施行
