script[src="https://pub.12cm.jp/sdk/echoss-esp2-light-min.js"]
- if Rails.env.development?
  span.js-data__stamp-api-key(data-api-key="#{ENV['STAMP_JAVASCRIPT_API_KEY_PRODUCTION']}")
- else
  span.js-data__stamp-api-key(data-api-key="#{ENV['STAMP_JAVASCRIPT_API_KEY_PRODUCTION']}")
