- set_meta_tags({\
  description: '2016年夏開催、おそ急さんスランプラリー！東急沿線に散りばめられたスタンプを集めて限定おそ急さん商品をGET！',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松,カラ急,チョロ急,一急,十四急,トド急'\
})

h2.home-index__title
ul.home-index__current-stamps
  - (1..6).to_a.each do |i|
    li.home-index__current-stamp.js-element__stamp-wrapper(data-index="#{i}")
      - if @current_sheet.sheet_stamps.where(:position => i).first.present?
        = image_tag "#{Settings.stamp.image_dir}/#{@current_sheet.phase}/#{@current_sheet.sheet_stamps.where(:position => i).first.stamp.image_filename}.#{Settings.stamp.image_extension}", class: 'js-element__stamp-image', 'data-position': i

- if Rails.env.local?
  /- test code
  p.js-trigger__push-stamp(data-stamp-id="A1534965" data-api-url="#{api_stamp_push_path}") おそ松
  p.js-trigger__push-stamp(data-stamp-id="A1533852" data-api-url="#{api_stamp_push_path}") カラ松
  p.js-trigger__push-stamp(data-stamp-id="A1532847" data-api-url="#{api_stamp_push_path}") チョロ松
  p.js-trigger__push-stamp(data-stamp-id="A1533777" data-api-url="#{api_stamp_push_path}") 一松
  p.js-trigger__push-stamp(data-stamp-id="A1533910" data-api-url="#{api_stamp_push_path}") 十四松
  p.js-trigger__push-stamp(data-stamp-id="A1533948" data-api-url="#{api_stamp_push_path}") トド松
  p.js-trigger__push-stamp(data-stamp-id="A1531653" data-api-url="#{api_stamp_push_path}") イヤミ
  css:
    .js-trigger__push-stamp {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      border: 2px solid #000;
      margin: 10px 50px;
    }
  /- test code

p.home-index__text--description
  |
    おそ急さんスタンプラリー２０１６夏は
    9月25日(日)にて終了いたしました。
p.home-index__text--comment
  |
    抽選会は9月30日(金)まで実施中だよ！
ul.home-index__links
  li.home-index__link--how-to-play
    a(href="http://www.tokyu.co.jp/osokyusan/coupon.html" target="_blank")
      | 遊び方
  li.home-index__link--map
    a.js-trigger__play-audio(href="http://www.tokyu.co.jp/osokyusan/index.html" data-audio-selector=".audio__link--map" target="_blank")
      | MAP
  li.home-index__link--stamp-collection
    a.js-trigger__play-audio(href="#{sheet_path}" data-audio-selector=".audio__link--sheet")
      |
        スタンプ
        コレクション
  li.home-index__link--lottery
    a.js-trigger__play-audio(href="#{lottery_path}" data-audio-selector=".audio__link--lottery")
      |
        スタンプラリー
        抽選会場
  li.home-index__link--ranking
    a.js-trigger__play-audio(href="#{ranking_path}" data-audio-selector=".audio__link--ranking")
      |
        スタンプ
        ランキング
.home-index__coupons
  h3.coupons__title GETしたクーポン
  ul.coupons__list
    - @coupons.each do |coupon|
      li.coupons__item
        p.coupons-item__image
          - if coupon[:present] && coupon[:count] > 0
            = link_to image_tag(coupon[:image_path]), coupon[:path]
          - else
            = image_tag coupon[:image_path]
        p.coupons-item__count #{coupon[:count]}枚

- if @current_sheet.number == 1
  span.js-data__audio-dir(data-audio-dir="#{Settings.stamp.audio_dir}/first/")
- else
  span.js-data__audio-dir(data-audio-dir="#{Settings.stamp.audio_dir}/common/")
- ['lottery', 'map', 'ranking', 'sheet'].each do |name|
  audio(src="/static/application/audio/home/index/link/#{name}.mp3" class="audio__link--#{name}")

- unless Rails.env.local?
  = render partial: 'shared/stamp_data'

- if @unread_notifications.present?
  .global__popup--unread-notifications.state__display.js-element__popup--unread-notifications
    .popup--unread-notifications__wrapper
      p.popup--unread-notifications__title お知らせ
      .popup--unread-notifications__content
        - @unread_notifications.each do |notification|
          .unerad-notifications__item
            p.notifications-item__title = notification.title
            p.notifications-item__date = notification.published_at.to_s(:date)
            p.notifications-item__content = hbr raw notification.content
      p.popup--unread-notifications__button--close.js-trigger__close-popup-unread-notifications とじる

= javascript_include_tag 'libs/howler.min'
