- set_meta_tags({\
  title: 'スタンプランキング',\
  description: 'おそ急さんスタンプラリーのランキングをチェック！ ライバルよりさらにライジングしよう！',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松'\
})

h2.home-ranking__title
- if @ranking.count < Settings.top_ranking.display_rank_length and @my_ranking_users.blank?
  p.home-ranking__no-data ランキングは未集計となります。ランキングは1日に1回更新されるので、また明日アクセスしてみてくださいね。
- else
  ul.home-ranking__ranking-list
    - unless @ranking.count < Settings.top_ranking.display_rank_length
      li.home-ranking__ranking-item.type__season
        .ranking__outer
          p.ranking__duration = season_top_ranking_duration
          .ranking__inner
            .ranking__labels
              p.ranking__label--rank 順位
              p.ranking__label--name なまえ
              p.ranking__label--count スタンプ数
            - @ranking.each do |ranking|
              .ranking__user(theme="#{@ranking_users[ranking.user_id][:theme]}")
                p.ranking__rank(rank="#{ranking.rank}") = "#{ranking.rank}位"
                p.ranking__name = @ranking_users[ranking.user_id][:name]
                p.ranking__count = ranking.stamp_count
    - if @my_ranking_users.present?
      li.home-ranking__ranking-item.type__my-season
        .ranking__outer
          p.ranking__duration = season_self_ranking_duration
          .ranking__inner
            .ranking__labels
              p.ranking__label--rank 順位
              p.ranking__label--name なまえ
              p.ranking__label--count スタンプ数
            - @my_ranking_users.each do |ranking_user|
              .ranking__user(theme="#{ranking_user[:theme]}")
                p.ranking__rank(rank="#{ranking_user[:rank]}") = "#{ranking_user[:rank]}位"
                p.ranking__name = ranking_user[:name]
                p.ranking__count = ranking_user[:stamp_count]
