- set_meta_tags({\
  title: 'スタンプコレクション',\
  description: '今まで集めたスタンプを確認できます。',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松,コレクション,スタンプラリー,スタンプコレクション'\
})

h2.home-sheet__title
.home-sheet__order
  .order__input--select
    select.js-trigger__select-sheet-order
      option(value="completed-at_desc" selected) 新しい順
      option(value="completed-at_asc") 古い順
      option(value="name_asc") 名前順
      option(value="name_desc") 名前逆順
  p.order__button--submit.js-trigger__change-sheet-order 並び替え
ul.home-sheet__collection.js-element__sheet-list
  - if @completed_sheets.present?
    - @completed_sheets.each do |completed_sheet|
      li.collection__item.js-element__sheet-item(data-name="#{completed_sheet.name}" data-completed-at="#{completed_sheet.completed_at}")
        .collection-item__input--name
          = form_tag api_sheet_update_name_path, :method => :post, :remote => true, class: 'js-element__form--sheet-name' do
            = hidden_field :sheet, :token, :value => completed_sheet.token
            = text_field :sheet, :name, :value => completed_sheet.name, class: 'js-element__input--sheet-name'
        ul.collection-item__stamp-list
          - completed_sheet.sheet_stamps.each do |sheet_stamp|
            li.collection-item__stamp-item
              = image_tag "#{Settings.stamp.image_dir}/#{completed_sheet.phase}/#{sheet_stamp.stamp.image_filename}.#{Settings.stamp.image_extension}"
        .collection-item__information
          p.information__completed-at カード取得日：#{completed_sheet.completed_at.to_s(:completed_at)}
          ul.information__share-buttons
            - if current_user.twitter_access_token
              li.information__share-button--twitter.js-trigger__open-tweet-popup(data-sheet-token="#{completed_sheet.token}")
            - else
              li.information__share-button--twitter
                = link_to '', omniauth_authorize_path('user', 'twitter', :referrer_path => request.fullpath)
            li.information__share-button--facebook
              = link_to '', "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook.app_id}&link=#{root_url}&redirect_uri=#{sheet_url}&title=#{URI.encode 'おそ急さんスタンプラリー2016年夏'}&description=#{URI.encode '2016年夏開催、おそ急さんスランプラリー！東急沿線に散りばめられたスタンプを集めて限定おそ急さん商品をGET！'}&picture=#{completed_sheet.share_image_url}"
            /- li.information__share-button--line
  - else
    p.collection__text--not-found シートはまだありません
.home-sheet__popup--tweet.js-element__tweet-popup
  .popup-tweet__wrapper
    = form_tag api_sheet_share_twitter_path, :method => :post, :remote => true, class: 'js-element__tweet-form' do
      = hidden_field :sheet, :token, class: 'js-element__sheet-token'
      = hidden_field :user, :token, :value => current_user.token
      p.popup-tweet__label Twitterにシェアする
      p.popup-tweet__button--close.js-trigger__close-tweet-popup
      = text_area :tweet, :content, class: 'popup-tweet__input js-element__tweet-input', 'data-default-text': " #おそ急さんスタンプラリー 開催中！ シートが完成したよ☆ みんなはどんなシートができた？ #おそ急さん"
      .popup-tweet__actions
        p.popup-tweet__tweet-button.js-element__tweet-button シェアする
        p.popup-tweet__text-counter.js-element__tweet-text-count
