.page__enquete-new,
.page__enquete-answer
  padding: 37px 0 40px

  .enquete-new__title
    @extend %block_center
    +replace-sprite('home__enquete__title__main')

  .enquete-new__description
    @extend %text_center
    font-size: 26px
    margin-top: 45px
    line-height: 1

    &:before,
    &:after
      content: '◆'

  .enquete-new__notification
    @extend %text_center
    color: #ff0000
    font-size: 20px
    margin-top: 20px

  .input--nickname__label,
  .input--theme__label
    position: relative

    &:before
      +pos(40px,'','',0)
      content: '※サイト内で使用します。'
      font-size: 18px
      line-height: 1

  %form_error
    @extend %error_message
    margin-bottom: 10px

  %form_wrapper
    @extend %clearfix
    @extend %block_center
    width: 640px
    padding-left: 4px

  %form_label
    width: 290px
    float: left
    height: 42px
    line-height: 42px
    font-size: 24px

  %form_input
    float: right

  %form_input_text
    @extend %reset_default_input
    width: 336px
    height: 42px
    background-color: #fbfbfb
    border: 2px solid #b5b5b5
    font-size: 22px
    padding: 8px 6px

  %form_input_select
    width: 283px
    height: 42px
    position: relative

    &:before
      +cntr-abs(0,20px)
      content: '▼'
      display: block
      color: #717171
      line-height: 1
      font-size: 20px
      right: 16px

    select
      @extend %reset_default_input
      width: 100%
      height: 100%
      background-color: #eee
      border: 2px solid #b5b5b5
      +border-radius(16px)
      font-size: 22px
      padding: 8px 14px
      line-height: 1

  .enquete-new__input--serial-code
    margin-top: 64px

  .enquete-new__error-message--serial-code
    @extend %form_error

  .input--serial-code__wrapper
    @extend %form_wrapper

  .input--serial-code__label
    @extend %form_label

  .input--serial-code__input
    @extend %form_input
    @extend %form_input_text

  .enquete-new__input--nickname
    margin-top: 50px

  .enquete-new__error-message--nickname
    @extend %form_error

  .input--nickname__wrapper
    @extend %form_wrapper

  .input--nickname__label
    @extend %form_label

  .input--nickname__input
    @extend %form_input
    @extend %form_input_text

  .enquete-new__input--birthyear
    margin-top: 86px

  .enquete-new__error-message--birthyear
    @extend %form_error

  .input--birthyear__wrapper
    @extend %form_wrapper

  .input--birthyear__label
    @extend %form_label

  .input--birthyear__input
    @extend %form_input_select
    @extend %form_input

  .enquete-new__input--gender
    margin-top: 28px

  .enquete-new__error-message--gender
    @extend %form_error

  .input--gender__wrapper
    @extend %form_wrapper

  .input--gender__label
    @extend %form_label

  .input--gender__input
    @extend %form_input_select
    @extend %form_input

  .enquete-new__input--zip-code
    margin-top: 28px

  .enquete-new__error-message--zip-code
    @extend %form_error

  .input--zip-code__wrapper
    @extend %form_wrapper

  .input--zip-code__label
    @extend %form_label

  .input--zip-code__input
    @extend %form_input
    @extend %form_input_text

  .enquete-new__input--theme
    margin-top: 28px

  .enquete-new__error-message--theme
    @extend %form_error

  .input--theme__wrapper
    @extend %form_wrapper

  .input--theme__label
    @extend %form_label

  .input--theme__input
    @extend %form_input_select
    @extend %form_input

  .enquete-new__input--frequency-of-use-tokyu
    margin-top: 28px

  .enquete-new__error-message--frequency-of-use-tokyu
    @extend %form_error

  .input--frequency-of-use-tokyu__wrapper
    @extend %form_wrapper

  .input--frequency-of-use-tokyu__label
    @extend %form_label

  .input--frequency-of-use-tokyu__input
    @extend %form_input_select
    @extend %form_input

  .enquete-new__input--job
    margin-top: 28px

  .enquete-new__error-message--job
    @extend %form_error

  .input--job__wrapper
    @extend %form_wrapper

  .input--job__label
    @extend %form_label

  .input--job__input
    @extend %form_input_select
    @extend %form_input

  .enquete-new__button--terms-of-use
    @extend %text_center
    @extend %block_center
    width: 490px
    height: 78px
    background-color: #b5b5b5
    color: #fff
    font-weight: bold
    line-height: 1
    font-size: 32px
    padding: 23px 0
    margin-top: 80px

  .enquete-new__error-message--agreement
    @extend %form_error
    margin-top: 10px

  .enquete-new__agreement-terms
    @extend %text_center
    @extend %block_center
    margin-top: 17px
    padding-bottom: 5px
    border-bottom: 3px solid #e60012
    width: 340px

  .agreement-terms__input,
  .aggrement-terms__label
    display: inline-block
    vertical-align: top

  .agreement-terms__input
    @extend %reset_default_input
    +appearance(checkbox)
    width: 35px
    height: 35px
    min-width: 35px
    min-height: 35px
    margin: 0
    background-color: #fbfbfb
    border: 3px solid #e60012

  .aggrement-terms__label
    font-size: 28px
    line-height: 35px
    margin-left: 14px

  .enquete-new__button--submit
    @extend %enquete__button--submit
    margin-top: 96px
