.page__enquete-thanks
  padding: 72px 0 720px

  .enquete-thanks__title
    @extend %text_center
    font-size: 44px
    line-height: 1
    font-weight: bold

  .enquete-thanks__button--root
    @extend %enquete__button--submit
    margin-top: 80px
