.page__confirmations-new,
.page__confirmations-create,
.page__confirmations-show
  padding: 40px 0 470px

  .confirmations-new__title
    @extend %text_center
    font-size: 40px
    line-height: 1
    font-weight: bold

  .confirmations-new__description
    @extend %block_center
    font-size: 22px
    line-height: 1.7
    width: 640px
    white-space: pre-line
    margin-top: 56px
    max-height: 100%

  .confirmations-new__error
    @extend %error_message

  .confirmations-new__label,
  .confirmations-new__input--email
    @extend %block_center
    width: 645px

  .confirmations-new__label
    font-size: 25px
    line-height: 1
    margin-top: 60px

  .confirmations-new__input--email
    @extend %confirmations__input
    margin-top: 20px

  .confirmations-new__button--submit
    @extend %confirmations__button--submit
    margin-top: 80px
