.page__contact-complete
  padding-bottom: 300px

  .contact-complete__title--main
    @extend %block_center
    +replace-sprite('contact__common__title__main')

  .contact-complete__title--sub
    @extend %text_center
    font-size: 30px
    line-height: 1
    margin-top: 43px
    font-weight: bold

    &:before,
    &:after
      content: '◆'
