.page__contact-confirm
  .contact-confirm__title--main
    @extend %block_center
    +replace-sprite('contact__common__title__main')

  .contact-confirm__title--sub
    @extend %text_center
    font-size: 30px
    line-height: 1
    margin-top: 45px
    font-weight: bold

    &:before,
    &:after
      content: '◆'

  .contact-confirm__table
    @extend %clearfix
    width: 658px
    @extend %block_center
    margin-top: 10px
    background-color: #fbfbfb
    border: 1px solid #b5b5b5
    font-size: 24px
    line-height: 1.5

  .contact-confirm__label--name,
  .contact-confirm__value--name,
  .contact-confirm__label--name-kana,
  .contact-confirm__value--name-kana,
  .contact-confirm__label--email,
  .contact-confirm__value--email,
  .contact-confirm__label--message,
  .contact-confirm__value--message
    border: 1px solid #b5b5b5
    padding: 6px

  .contact-confirm__label--name,
  .contact-confirm__value--name,
  .contact-confirm__label--name-kana,
  .contact-confirm__value--name-kana,
  .contact-confirm__label--email,
  .contact-confirm__value--email
    min-height: 130px

  .contact-confirm__label--message,
  .contact-confirm__value--message
    min-height: 290px

  .contact-confirm__label--name,
  .contact-confirm__label--name-kana,
  .contact-confirm__label--email,
  .contact-confirm__label--message
    width: 145px
    float: left
    white-space: pre-line

  .contact-confirm__value--name,
  .contact-confirm__value--name-kana,
  .contact-confirm__value--email,
  .contact-confirm__value--message
    width: 511px
    float: right

  .contact-confirm__link--back
    @extend %block_center
    text-align: right
    width: 650px
    margin-top: 20px
    text-decoration: underline
    font-weight: bold
    font-size: 25px
    display: block

  .contact-confirm__button--submit
    @extend %contact__button--submit
    letter-spacing: 36px
    text-indent: 18px
    margin-top: 65px
