.page__contact-new,
.page__contact-confirm,
.page__contact-complete
  padding-top: 37px
  padding-bottom: 100px

  %contact_new_inner
    @extend %block_center
    width: 645px

  .contact-new__title
    @extend %block_center
    +replace-sprite('contact__common__title__main')
    margin-bottom: 74px

  .contact-new__error
    @extend %error_message
    margin-top: 24px

  .contact-new__label--name,
  .contact-new__input--name,
  .contact-new__label--name-kana,
  .contact-new__input--name-kana,
  .contact-new__label--email,
  .contact-new__input--email,
  .contact-new__label--message,
  .contact-new__input--message
    @extend %contact_new_inner

  .contact-new__label--name,
  .contact-new__label--name-kana,
  .contact-new__label--email,
  .contact-new__label--message,
    font-size: 25px
    line-height: 1
    margin-top: 37px

  .contact-new__input--name,
  .contact-new__input--name-kana,
  .contact-new__input--email
    @extend %contact__input

  .contact-new__input--name,
  .contact-new__input--name-kana,
  .contact-new__input--email,
  .contact-new__input--message
    margin-top: 24px

  .contact-new__input--message
    display: block
    height: 227px
    @extend %reset_default_input
    border: 2px solid #b5b5b5
    background-color: #fbfbfb
    padding: 7px 10px
    font-size: 24px
    resize: none

  .contact-new__button--submit
    @extend %contact__button--submit
    letter-spacing: 36px
    text-indent: 18px
    margin-top: 75px
