- meta_tags = Settings.meta_tags.coupon.show
- set_meta_tags({\
  title: meta_tags[@coupon.id].title,\
  description: meta_tags[@coupon.id].description,\
  keyword: 'おそ急スタンプラリー,トド松,トド急,トドマツ,切符,キャラ切符,おそ急さん,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松',\
  og: {\
    image: "#{root_url}#{Settings.coupon.detail_image_dir[1..-1]}/#{Settings.phase}/#{@coupon.detail_image_filename}.#{Settings.coupon.detail_image_extension}"\
  },twitter: {\
    image: {\
      src: "#{root_url}#{Settings.coupon.detail_image_dir[1..-1]}/#{Settings.phase}/#{@coupon.detail_image_filename}.#{Settings.coupon.detail_image_extension}"\
    }\
  }\
})

h2.coupon-show__title = @coupon.name
p.coupon-show__description = hbr raw @coupon.description
p.coupon-show__image
  - if Rails.env.local?
    = image_tag @coupon.detail_image_path, class: 'js-trigger__use-stamp', 'data-stamp-id': 'A1536107'
  - else
    = image_tag @coupon.detail_image_path
p.coupon-show__link--root
  = link_to 'TOPページへ戻る', root_path
span.js-data__coupon-id(data-coupon-id="#{@coupon.id}")
span.js-data__coupon-type(data-coupon-type="#{@coupon.type}")
- unless Rails.env.local?
  = render partial: 'shared/stamp_data'
