- set_meta_tags({\
  title: 'クーポン利用完了☆',\
  description: 'クーポンが使用されました。ご利用、誠にありがとうございます。',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松',\
  og: {\
    image: "#{root_url}#{Settings.coupon.detail_image_dir[1..-1]}/#{Settings.phase}/#{@coupon.detail_image_filename}.#{Settings.coupon.detail_image_extension}"\
  },twitter: {\
    image: {\
      src: "#{root_url}#{Settings.coupon.detail_image_dir[1..-1]}/#{Settings.phase}/#{@coupon.detail_image_filename}.#{Settings.coupon.detail_image_extension}"\
    }\
  }\
})

h2.coupon-used__title = @coupon.name
p.coupon-used__description このクーポンは使用済みです。
p.coupon-used__image
  = image_tag @coupon.detail_image_path, class: 'js-trigger__use-stamp'
p.coupon-used__link--root
  = link_to 'TOPページへ戻る', root_path
