- set_meta_tags({\
  title: 'ログイン',\
  description: 'おそ急さんスランプラリーにログイン！'\
})

h2.sessions-new__title
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  p.sessions-new__error = alert
  p.sessions-new__text--registration はじめての方はこちら
  p.sessions-new__button--twitter-registration
    = link_to 'Twitterでかんたん登録', omniauth_authorize_path(resource_name, 'twitter'), class: 'js-trigger__play-audio', 'data-audio-selector': '.audio__login'
  p.sessions-new__button--email-registration
    = link_to 'メールアドレスで登録', new_registration_path(resource_name), class: 'js-trigger__play-audio', 'data-audio-selector': '.audio__login'
  p.sessions-new__text--login 登録後のログインはこちら
  = f.email_field :email, class: 'sessions-new__input--email', autofocus: true, placeholder: 'メールアドレス'
  = f.password_field :password, class: 'sessions-new__input--password', autocomplete: 'off', placeholder: 'パスワード'
  p.sessions-new__link--new-password
    = link_to 'パスワードを忘れてしまった方はこちら', new_password_path(resource_name)
  p.sessions-new__link--new-confirmation
    = link_to '確認メールを再送したい方はこちら', new_user_confirmation_path
  = f.submit 'メールアドレスでログイン', class: 'sessions-new__button--email-login js-trigger__play-audio', 'data-audio-selector': '.audio__login'
  p.sessions-new__button--twitter-login
    = link_to 'Twitterでログイン', omniauth_authorize_path(resource_name, 'twitter'), class: 'js-trigger__play-audio', 'data-audio-selector': '.audio__login'

audio(src="/static/application/audio/session/new/login.mp3" class="audio__login")
