.page__lottery-lose
  @extend %text_center
  padding: 20px 0 166px
  color: $baseColor
  font-size: 36px
  font-weight: bold

  .lottery-lose__title
    @extend %lottery_title

  .lottery-lose__grade,
  .lottery-lose__name
    display: inline-block
    margin-top: 32px

  .lottery-lose__grade
    margin-right: 38px

  .lottery-lose__label
    @extend %block_center
    +replace-sprite('lottery__lose__label')
    margin-top: 27px

  .lottery-lose__image
    @extend %block_center
    width: 618px
    margin-top: 18px

  .lottery-lose__button--tweet
    @extend %lottery_tweet_button
    margin-top: 46px

  .lottery-lose__button--retry
    @extend %lottery_button
    margin-top: 38px
    
  .lottery-lose__button--to-top
    @extend %lottery_button
    margin-top: 21px

  .lottery-win__popup--tweet
    @extend %lottery_tweet_popup
