.page__lottery-not_yet
  padding: 20px 0 50px
  color: $baseColor
  font-size: 25px

  .lottery-not_yet__title
    @extend %lottery_title

  .lottery-not_yet__description
    @extend %text_center
    font-weight: bold
    font-size: 33px
    line-height: 1
    margin-top: 54px

  .lottery-not_yet__information
    @extend %lottery_information
