.page__lottery-ready
  @extend %text_center
  padding: 20px 0 84px
  color: $baseColor
  font-size: 36px
  font-weight: bold

  .lottery-ready__title
    @extend %lottery_title

  .lottery-ready__grade
    margin-top: 30px

  .lottery-ready__name
    margin-top: 8px

  .lottery-ready__animation
    @extend %block_center
    width: 640px
    height: 510px
    margin-top: 40px

  .lottery-ready__button--to-result
    @extend %lottery_button
    margin-top: 40px
