.page__lottery-top
  @extend %text_center
  padding: 20px 0 40px
  color: $baseColor
  font-size: 36px
  font-weight: bold

  .lottery-top__title
    @extend %lottery_title

  .lottery-top__description
    margin-top: 30px

  .lottery-top__prize-list
    margin-top: 44px
    color: #fff

  .lottery-top__prize-item--a,
  .lottery-top__prize-item--b,
  .lottery-top__prize-item--c
    width: 200px
    height: 230px
    margin: 0 15px
    display: inline-block
    border: 5px solid
    +border-radius(18px)
    +box-shadow(10px 10px 18px 2px rgba(0, 0, 0, 0.4))
    vertical-align: top
    +link-color(#fff)
    position: relative

    a
      +pos(-5px,'','',-5px)
      padding-top: 16px
      display: block
      width: 200px
      height: 230px
      text-decoration: none

  .lottery-top__prize-item--a
    background-color: #ff8c80
    border-color: #fc4545

  .lottery-top__prize-item--b
    background-color: #fbdf45
    border-color: #efb400
    
  .lottery-top__prize-item--c
    background-color: #7bbfff
    border-color: #1c88ee

  .prize-item__grade
    font-size: 32px

  .prize-item__name
    font-size: 23px
    line-height: 1.2
    margin-top: 24px
    height: 85px

  .prize-item__count
    font-size: 20px
    margin-top: 30px

  .lottery-top__notification
    @extend %block_center
    font-size: 21px
    line-height: 1.3
    color: #de0202
    margin-top: 23px
    text-align: left
    width: 620px

  .lottery-top__rest-chance
    @extend %block_center
    +replace-sprite-bg('lottery__top__bg--rest-count')
    margin-top: 38px
    padding-top: 40px

  .lottery-top__rest-chance
    font-size: 27px

  .lottery-top__rest-count
    font-size: 40px

  .lottery-top__information
    @extend %lottery_information
