.page__lottery-win
  @extend %text_center
  padding: 20px 0 36px
  color: $baseColor
  font-size: 36px
  font-weight: bold

  .lottery-win__title
    @extend %lottery_title

  .lottery-win__grade,
  .lottery-win__name
    display: inline-block
    margin-top: 32px

  .lottery-win__grade
    margin-right: 38px

  .lottery-win__label
    @extend %block_center
    +replace-sprite('lottery__win__label')
    margin-top: 27px

  .lottery-win__image
    @extend %block_center
    width: 618px
    height: 348px
    margin-top: 18px

  .lottery-win__button--tweet
    @extend %lottery_tweet_button
    margin-top: 48px

  .lottery-win__serial-codes
    @extend %block_center
    margin-top: 42px
    width: 425px
    background-color: #fff
    border: 5px solid #e60012
    padding: 20px 26px
    font-size: 32px
    line-height: 54px
    font-weight: bold
    text-align: left

  .lottery-win__note--save-code
    font-size: 25px
    line-height: 36px
    color: #e60012
    margin-top: 23px
    font-weight: bold
    max-height: 100%
    white-space: pre-line

  .lottery-win__list--how-to-save-code
    margin-left: 110px
    text-align: left
    max-height: 100%
    margin-top: 24px

  .lottery-win__item--how-to-save-code
    font-size: 18px
    line-height: 32px
    white-space: pre-line
    text-indent: -20px
    padding-left: 20px

    &:before
      content: '●'

  .lottery-win__button--send-mail
    @extend %lottery_button
    height: 56px
    margin-top: 22px

    a
      height: 56px
      line-height: 56px
      font-size: 20px

  .lottery-win__note--apply
    font-size: 25px
    position: relative
    margin-top: 72px
    
    &:before
      +pos(52px,'','',50%)
      +replace-sprite('lottery__win__arrow')
      content: ''
      display: block
      margin-left: -41px

  .lottery-win__button--apply-form
    @extend %lottery_button
    margin-top: 120px

  .lottery-win__popup--tweet
    @extend %lottery_tweet_popup
