.global__wrapper
  &[theme="osomatsu"]
    .footer__link--to-top
      background-color: $LayoutColorOsomatsu

  &[theme="karamatsu"]
    .footer__link--to-top
      background-color: $LayoutColorKaramatsu

  &[theme="tyoromatsu"]
    .footer__link--to-top
      background-color: $LayoutColorTyoromatsu

  &[theme="ichimatsu"]
    .footer__link--to-top
      background-color: $LayoutColorIchimatsu

  &[theme="juushimatsu"]
    .footer__link--to-top
      background-color: $LayoutColorJuushimatsu

  &[theme="todomatsu"]
    .footer__link--to-top
      background-color: $LayoutColorTodomatsu

  &[theme="iyami"]
    .footer__link--to-top
      background-color: $LayoutColorIyami

.global__footer
  .footer__link--to-top
    background-color: $LayoutColorNoTheme
    @extend %text_center
    width: 100%
    height: 60px
    font-size: 30px
    +link-color(#fff)

    a
      width: 100%
      height: 100%
      display: block
      line-height: 60px
      text-decoration: none

  .footer__copyright
    padding: 12px 0 18px
    position: relative

  .copyright__text--copyright
    @extend %text_center
    font-size: 20px
    line-height: 1.6
    white-space: pre-line
    max-height: 100%

  .copyright__text--powered
    @extend %text_center
    font-size: 20px
    line-height: 1
    margin-top: 50px
    +link-color(#000)

    a
      text-decoration: none

  .copyright__link--osomatsusan
    +replace-sprite('common__footer__logo__osomatsusan')
    +pos(15px,114px)

  .copyright__link--tokyudentetsu
    +replace-sprite('common__footer__logo__tokyudentetsu')
    +cntr-abs(image-width(sprite-file($sprite-image, 'common__footer__logo__tokyudentetsu')))
    bottom: 52px
