.global__wrapper
  &[theme="osomatsu"]
    .global__header
      background-color: $LayoutColorOsomatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--1')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--1')

  &[theme="karamatsu"]
    .global__header
      background-color: $LayoutColorKaramatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--2')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--2')

  &[theme="tyoromatsu"]
    .global__header
      background-color: $LayoutColorTyoromatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--3')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--3')

  &[theme="ichimatsu"]
    .global__header
      background-color: $LayoutColorIchimatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--4')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--4')

  &[theme="juushimatsu"]
    .global__header
      background-color: $LayoutColorJuushimatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--5')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--5')

  &[theme="todomatsu"]
    .global__header
      background-color: $LayoutColorTodomatsu

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--6')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--6')

  &[theme="iyami"]
    .global__header
      background-color: $LayoutColorIyami

      .header__link--to-top
        +pos(0,'','',19px)
        +replace-sprite('common__header__themes__picture__character--7')

      .header__button--menu
        +replace-sprite('common__header__themes__button__menu--7')

.global__header
  background-color: $LayoutColorNoTheme
  width: 100%
  height: 108px
  +pos(0,'','',0,fixed)
  z-index: 3000

  .header__link--to-top
    +pos('','',0px,16px)
    +replace-sprite('common__header__no-themes__picture__character')

    a
      width: 100%
      height: 100%
      display: block

  .header__button--menu
    +replace-sprite('common__header__no-themes__button__menu')
    +cntr-abs(0, image-height(sprite-file($sprite-image, 'common__header__no-themes__button__menu')))
    right: 22px
