.global__header-menu-overlay
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  display: none
  z-index: 5000

  &.state__display
    display: block

.global__header-menu
  +pos(125px,12px,'','',fixed)
  +link-color(#fff)
  width: 366px
  padding: 0 30px
  background-color: rgba(0,0,0,.8)
  display: none
  z-index: 6000

  &.state__display
    display: block

  &:before,
  &:after
    content: ''
    display: block

  &:before
    +replace-sprite('common__header__menu-bg--top')
    +pos(-42px,'','',0)

  &:after
    +replace-sprite('common__header__menu-bg--bottom')
    +pos('','',-20px,0)

  p, a
    color: #fff
    display: block
    padding: 10px 0
    text-decoration: none
    line-height: 1
    margin: 16px 0
    font-size: 25px

    &:first-child
      margin-top: 0px

    &:last-child
      margin-bottom: 10px

    &:before
      content: '●'
      margin-right: 6px
