.global__modal--notifications
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  background-color: #fff
  z-index: 9000
  display: none
  padding: 145px 63px

  &.state__display
    display: block

  .modal--notifications__title
    @extend %block_center
    +replace-sprite('common__modal__title--notifications')

  .modal--notifications__button--close
    +replace-sprite('common__modal__button--close')
    +pos(20px,22px,'','')

  .modal--notifications__list
    margin-top: 52px
    height: 800px
    overflow: auto

  .modal--notifications__item
    margin-bottom: 27px

    &.state__open
      .notifications-item__label
        &:before
          transform: rotate(180deg)

  .notifications-item__label
    width: 100%
    height: 77px
    background-color: #b5b5b5
    color: #fff
    font-weight: bold
    font-size: 27px
    line-height: 1
    padding: 25px
    position: relative

    &:before
      +pos(50%,18px,'','')
      margin-top: -10px
      content: '▼'
      display: block
      font-size: 20px
      line-height: 1
      height: 20px
      transition: transform .3s linear 0s

  .notifications-label__date,
  .notifications-label__title
    display: inline-block

  .notifications-label__title
    margin-left: 25px

  .notifications-item__wrapper
    display: none

  .notifications-item__inner
    font-size: 24px
    line-height: 1.3
    padding: 16px 20px

  .notifications-wrapper__content
    margin-top: 42px
    line-height: 1.5

  .notifications-wrapper__trigger--close
    text-decoration: underline
    text-align: right

    &:before
      content: '△'
