.global__modal--terms
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  background-color: #fff
  z-index: 9000
  display: none
  padding: 145px 63px

  &.state__display
    display: block

  .modal--terms__title
    @extend %block_center
    +replace-sprite('common__modal__title--terms')

  .modal--terms__button--close
    +replace-sprite('common__modal__button--close')
    +pos(20px,22px,'','')

  .modal--terms__wrapper
    margin-top: 52px
    height: 800px
    overflow: auto
    line-height: 1.5

  .modal--terms__heading
    font-size: 25px
    margin: 10px 0
    font-weight: bold
