.global__popup--error
  @extend %popup_overlay

  .popup--error__wrapper
    @extend %popup_wrapper
    border-color: #f29a00
    background-color: #ffca6e

  .popup--error__title
    @extend %popup_title
    background-color: #ffe5b7

  .popup--error__content
    @extend %popup_content

  .popup--error__button--close
    @extend %popup_button_close
    border-color: #f39800
