.global__stamp-seal-layer
  +pos(0,'','',0,fixed)
  width: 100%
  height: 100%
  display: block
  z-index: -1
  visibility: hidden

  &.state__display
    z-index: 10000
    visibility: visible

  &:before
    content: ''
    display: block
    +replace-image('common/stamp_seal.png')
    +cntr-abs(image-width('common/stamp_seal.png'), image-height('common/stamp_seal.png'))
