.contact-confirm__title--main
.contact-confirm__title--sub 入力確認
= form_for @contact, :url => complete_contact_path do |f|
  .contact-confirm__table
    = f.hidden_field :name
    p.contact-confirm__label--name お名前
    p.contact-confirm__value--name = @contact.name
    = f.hidden_field :name_kana
    p.contact-confirm__label--name-kana
      |
        お名前
        (カナ)
    p.contact-confirm__value--name-kana = @contact.name_kana
    = f.hidden_field :email
    p.contact-confirm__label--email
      |
        メール
        アドレス
    p.contact-confirm__value--email = @contact.email
    = f.hidden_field :message
    p.contact-confirm__label--message お問い合わせ内容
    p.contact-confirm__value--message = @contact.message
  = f.submit '再編集する', name: 'back', class: 'contact-confirm__link--back'
  = f.submit '送信', class: 'contact-confirm__button--submit'
