.contact-new__title,
= form_for @contact, :url => confirm_contact_path do |f|
  p.contact-new__label--name お名前
  - if @contact.errors[:name].count > 0
    - @contact.errors[:name].each do |error|
      p.contact-new__error #{error}
  = f.text_field :name, class: 'contact-new__input--name'
  p.contact-new__label--name-kana お名前(カナ)
  - if @contact.errors[:name_kana].count > 0
    - @contact.errors[:name_kana].each do |error|
      p.contact-new__error #{error}
  = f.text_field :name_kana, class: 'contact-new__input--name-kana'
  p.contact-new__label--email メールアドレス
  - if @contact.errors[:email].count > 0
    - @contact.errors[:email].each do |error|
      p.contact-new__error #{error}
  = f.email_field :email, class: 'contact-new__input--email'
  p.contact-new__label--message お問い合わせ内容
  - if @contact.errors[:message].count > 0
    - @contact.errors[:message].each do |error|
      p.contact-new__error #{error}
  = f.text_area :message, class: 'contact-new__input--message'
  = f.submit '確認' , class: 'contact-new__button--submit'
