「おそ急さん」スタンプラリーへの参加登録ありがとうございます！

以下のURLをタップしていただき、入力項目をお埋めいただきますと登録完了となります。

<%= confirmation_url(@resource, confirmation_token: @token) %>

本メールに心当たりのない方は、
inquiry@rev-stamp.com
までご連絡ください。
その際はお手数ですが本メールを削除していただきますようよろしくお願いいたします。
なお、本メールアドレスは送信専用のため、返信できませんのでご注意ください。
