お客様の登録アカウントのパスワード変更依頼がありました。

パスワードの変更をリクエストしていない場合は、
このメールを無視していただければパスワードは変更されません。
以下のURLの有効期限は24時間です。

<%= edit_password_url(@resource, reset_password_token: @token) %>

本メールに心当たりのない方は、
inquiry@rev-stamp.com
までご連絡ください。
その際はお手数ですが本メールを削除していただきますようよろしくお願いいたします。

なお、本メールアドレスは送信専用のため、返信できませんのでご注意ください。
