h2.lottery-lose__title
p.lottery-lose__grade = "#{@lottery_prize.grade}賞"
p.lottery-lose__name = nobr @lottery_prize.name
p.lottery-lose__label
p.lottery-lose__image
  = image_tag "#{Settings.lottery.result_image_dir}/lose.jpg"
p.lottery-lose__button--retry
  = link_to 'もう1度回す', lottery_path
p.lottery-lose__button--to-top
  = link_to 'TOPに戻る', root_path
