- set_meta_tags({\
  title: 'スタンプラリー抽選のお知らせ',\
  description: 'おそ急さんスタンプラリーに関して、抽選のお知らせです。',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ急,グッズ,レアグッズ,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松'\
})

h2.lottery-not_yet__title
p.lottery-not_yet__description 現在、抽選会場はお休みです。
.lottery-not_yet__information
  = render partial: 'shared/lottery_information'
