h2.lottery-ready__title
p.lottery-ready__grade = "#{@lottery_prize.grade}賞"
p.lottery-ready__name = nobr @lottery_prize.name
.lottery-ready__animation
  = image_tag 'lottery/ready/lottery__ready__picture--lottery-machine.png', :class => 'js-element__animation-lottery-machine'
= form_tag cast_lottery_path, :method => :post, :remote => false, :class => 'js-element__form--cast-lottery' do
  = hidden_field :lottery, :lp_id, :value => @lottery_prize.id
  p.lottery-ready__button--to-result.js-trigger__cast-lottery 結果を見る
