- set_meta_tags({\
  title: 'スタンプラリー抽選に挑戦',\
  description: '集めたスタンプで限定商品が当たる抽選にチャレンジしよう！ここでしかゲットできないレアなおそ急さんが手に入るビックチャンス！',\
  keyword: 'おそ急スタンプラリー,おそ急さん,おそ松グッズ,グッズ,レアグッズ,おそ急,東急スタンプラリー,東急電鉄,東急,おそスタ,おそ松さん,おそ松'\
})

h2.lottery-top__title
p.lottery-top__description ほしい賞をタップしてね
ul.lottery-top__prize-list
  - @lottery_prizes.each do |lottery_prize|
    li(class="lottery-top__prize-item--#{lottery_prize.grade.downcase}")
      = link_to ready_lottery_path(:lp_id => lottery_prize.id) do
        p.prize-item__grade = "#{lottery_prize.grade}賞"
        p.prize-item__name = hbr lottery_prize.name
        p.prize-item__count = "残り#{lottery_prize.lottery_unique_serials.not_used.count}個"
p.lottery-top__notification
  | ※賞品の残数が０個の場合でもシステムの仕様上、抽選にはご参加可能となっております。
  br
  | 各賞品の残り個数を必ずご確認の上、抽選にご参加下さい。
p.lottery-top__rest-chance
  | あと
  br
  span.lottery-top__rest-count = @present_ticket.present? ? @present_ticket.number : 0
  | 回まわせるよ
.lottery-top__information
  = render partial: 'shared/lottery_information'
