h2.lottery-win__title
p.lottery-win__grade = "#{@lottery_prize.grade}賞"
p.lottery-win__name = nobr @lottery_prize.name
p.lottery-win__label
p.lottery-win__image
  = image_tag @lottery_prize.win_image_path
- if current_user.twitter_access_token
  p.lottery-win__button--tweet.js-trigger__open-tweet-popup Twitterにシェアする
- else
  p.lottery-win__button--tweet
    = link_to 'Twitterにシェアする', omniauth_authorize_path('user', 'twitter', :referrer_path => request.fullpath)
.lottery-win__serial-codes
  p.serial-codes__id = "ID：#{@lottery_id}"
  p.serial-codes__pass = "パス：#{@lottery_pass}"
  p.serial-codes__code = "当選番号：#{@lottery_code}"
p.lottery-win__note--save-code
  |
    必ず上記の当選情報は
    いずれかの方法で保管してください。
ul.lottery-win__list--how-to-save-code
  li.lottery-win__item--how-to-save-code
    | 画面を撮影(スクショ)して保存する
  li.lottery-win__item--how-to-save-code
    | メモなどにコピー＆ペーストしておく
  li.lottery-win__item--how-to-save-code
    |
      紙などにメモを取る(大文字小文字にご注意ください)
p.lottery-win__note--apply 当選情報を保存したら、応募フォームから応募しよう！
p.lottery-win__button--apply-form
  = link_to '応募フォームはこちら', 'https://qooker.jp/Q/auto/ja/osokyustamp/hassou/', :target => '_blank'
.lottery-win__popup--tweet.js-element__tweet-popup
  .popup-tweet__wrapper
    = form_tag api_lottery_share_twitter_path, :method => :post, :remote => true, class: 'js-element__tweet-form' do
      = hidden_field :lottery_prize, :id, :value => @lottery_prize.id
      p.popup-tweet__label Twitterにシェアする
      p.popup-tweet__button--close.js-trigger__close-tweet-popup
      = text_area :tweet, :content, class: 'popup-tweet__input js-element__tweet-input', 'data-default-text': " #おそ急さんスタンプラリー で「#{@lottery_prize.name_long}」が当たった！ 家宝にスッペ～！ #おそ急さん"
      .popup-tweet__actions
        p.popup-tweet__tweet-button.js-element__tweet-button シェアする
        p.popup-tweet__text-counter.js-element__tweet-text-count
