.page__passwords-edit,
.page__passwords-update
  padding: 50px 0 350px

  .passwords-edit__title
    @extend %text_center
    font-size: 40px
    line-height: 1

  .passwords-edit__description
    @extend %text_center
    margin-top: 48px

  .passwords-edit__error
    @extend %error_message

  .passwords-edit__label--password,
  .passwords-edit__label--password-confirmation,
  .passwords-edit__input--password,
  .passwords-edit__input--password-confirmation
    @extend %block_center
    width: 645px

  .passwords-edit__description,
  .passwords-edit__label--password,
  .passwords-edit__label--password-confirmation
    font-size: 25px
    line-height: 1

  .passwords-edit__label--password
    margin-top: 60px

  .passwords-edit__label--password-confirmation
    margin-top: 40px

  .passwords-edit__input--password,
  .passwords-edit__input--password-confirmation
    @extend %passwords__input
    margin-top: 20px

  .passwords-edit__button--submit
    @extend %passwords__button--submit
    letter-spacing: 36px
    text-indent: 18px
    margin-top: 86px
