.page__passwords-instructions
  padding: 44px 0 350px

  .passwords-instructions__title
    @extend %text_center
    font-size: 44px
    line-height: 1

  .passwords-instructions__description
    @extend %block_center
    width: 660px
    line-height: 1.5
    margin-top: 50px
    max-height: 100%
    font-size: 25px
    white-space: pre-line
