.page__passwords-new,
.page__passwords-create
  padding: 37px 0 350px

  .passwords-new__title
    @extend %block_center
    +replace-sprite('passwords__new__title__main')

  .passwords-new__description,
  .passowrds-new__label,
  .passwords-new__input--email
    @extend %block_center
    width: 660px

  .passwords-new__description
    line-height: 1.5
    margin-top: 46px
    margin-bottom: 40px
    max-height: 100%
    font-size: 25px
    white-space: pre-line

  .passwords-new__error
    @extend %error_message

  .passowrds-new__label
    font-size: 25px
    line-height: 1
    margin-top: 20px

  .passwords-new__input--email
    @extend %passwords__input
    margin-top: 24px

  .passwords-new__button--submit
    @extend %passwords__button--submit
    letter-spacing: 36px
    text-indent: 18px
    margin-top: 62px
