.page__passwords-reset
  padding: 50px 0 350px

  .passwords-reset__title,
  .passwords-reset__description
    @extend %text_center
    line-height: 1

  .passwords-reset__title
    font-size: 40px

  .passwords-reset__description
    font-size: 25px
    margin-top: 44px

  .passwords-reset__link--root
    @extend %passwords__button--submit
    margin-top: 80px
