.page__coupon-used
  @extend %coupon_page

  .coupon-used__title
    @extend %coupon_title

  .coupon-used__description
    @extend %coupon_description

  .coupon-used__image
    @extend %coupon_image
    position: relative

    &:before
      +replace-sprite('coupon__used__stamp-seal-used')
      +pos('',0,0,'')
      content: ''
      display: block

  .coupon-used__link--root
    @extend %coupon__button
    margin-top: 90px
