.page__condition-show
  padding: 70px 0 300px
  color: $baseColor
  font-weight: bold

  .condition-show__description
    @extend %text_center
    font-size: 21px
    line-height: 1.5
    max-height: 100%

  .condition-show__image
    @extend %block_center
    width: 618px
    margin-top: 22px

  .condition-show__link--use
    @extend %coupon__button
    margin-top: 60px
