doctype html
html
  head
    = csrf_meta_tags
    = display_meta_tags default_meta_tags
    meta[http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"]
    meta[name="viewport" content="width=750, user-scalable=no"]
    link(rel="apple-touch-icon" sizes="144x144" href="#{image_path 'apple-touch-icon.png'}")
    link(rel="shortcut icon" href="#{image_path 'apple-touch-icon.png'}")
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', :media => 'all'
  body
    = render partial: 'shared/tracking_script'
    #section__top.global__wrapper.js-element__global-wrapper(theme="#{current_user.theme if current_user}" data-controller="#{controller.controller_name}" data-action="#{controller.action_name}")
      = render partial: 'shared/header'
      main(class="page__#{controller.controller_name}-#{controller.action_name}")
        = yield
      = render partial: 'shared/footer'
      = render partial: 'shared/modal_notifications'
      = render partial: 'shared/modal_terms'
      = render partial: 'shared/modal_faq'
      = render partial: 'shared/header_menu'

      .global__popup--error.js-append-target__popup-error.js-element__popup-error
      .global__stamp-seal-layer.js-element__stamp-seal-layer

      span.js-data__user-token(data-user-token="#{current_user.token if current_user}")
      span.js-data__rails-env(data-rails-env="#{Rails.env}")

      audio(src="/static/application/audio/common/menu.mp3" class="audio__menu")
    = javascript_include_tag 'application'
